[2014-11-12 22:49] dandv opened #1 "Comparison with existing Meteor CMSes"
Thanks for starting this project!

How does it compare with actively-maintained open-source Meteor CMSes (which I'm sure would accept PRs):
- [Azimuth](https://github.com/mcrider/azimuth) - [abandoned](https://github.com/nicolaslopezj/meteor-cms/issues/1#issuecomment-63177922)
- [AwareUnit](https://github.com/SteelzZ/au-cmsinn/)
- [Meteor Admin](https://github.com/yogiben/meteor-admin)

[2014-11-13 19:34] iamkevingreen opened #2 "How do you actually start this CMS? Starter Theme?"
I spun up a fresh meteor app, added your package and all I have is the same old basic meteor starter app. The routing that is supposed to work out of the box doesn't, is the `api.addFiles` supposed to build files into the apps root directory? If so that doesn't seem to be working for me.

I also tried cloning parts of this repo to my root meteor directory but couldn't get it to spin up correctly.

[2014-11-13 23:27] #2 closed, assigned to nobody

[2014-11-14 05:13] dandv opened #3 "Should the .npm/packages dir be in the repo?"
I believe [npm/package](https://github.com/nicolaslopezj/meteor-cms/tree/master/.npm/package) is auto-generated.

[2014-11-14 05:23] #3 closed, assigned to nobody

[2014-11-17 21:59] dandv opened #4 "Consider restoring old README?"
The [old README](https://github.com/orionjs/core/blob/dede6c1f16230e0228e8d77fdf29b05b0c315351/README.md) with screenshots and description of features, was a lot more convincing.

[2014-11-17 22:00] #4 closed, assigned to nobody

[2014-12-02 19:17] iamkevingreen opened #5 "Ability to Sort Dictionary Items"
Would be nice to have a sort of weighting system instead of alphabetical for the sorting of the dictionary navigation items.

[2014-12-03 17:41] #5 closed, assigned to nobody

[2014-12-04 15:08] dgrabla opened #6 "Languages on dictionary and entities"
OrionJS looks very promising, but AFAIK there is no easy way to have dictionary definitions on multiple languages. What about a tap:i18n dependency?

[2014-12-05 13:10] djhi opened #7 "Entities subscription"
Hi ! First, thank you for this great project. I was making something similar but switched to yours which is really nice. I'll have some contributions very soon (like in-situ editing for dictionary values).

On the website, the suggested way to subscribe to entities is:

[code]

However, that's not how it works, you must do:

[code]

[2014-12-05 16:11] #7 closed, assigned to nobody

[2015-01-07 06:55] matteodem opened #8 "Local Filesystem"
Cool package. I saw a section about Filesystems, but it only showed S3 and no clear description of how to use it for local filesystems. Please add this to the docs or show me an example here.

[2015-01-07 07:05] nicolaslopezj commented on #8
I have not create a adapter for local filesystem, but it's very easy to create an adapter.

- Create the upload function:
[code]

- Create the remove function:
[code]

You can see an example here https://github.com/orionjs/s3/blob/master/lib/main.js

[2015-01-07 07:06] nicolaslopezj commented on #8
If you create an adapter please upload it to atmosphere so everyone can use it!

[2015-01-07 07:29] matteodem commented on #8
I'll see if I have time the next days.

[2015-01-12 19:13] iamkevingreen opened #9 "Newsletter for major releases"
I know that this is still young, but I think you would benefit from setting up something like a mailchimp for informing users of release updates. I just pulled your latest updates and was confused as to why my admin user was not longer and admin and saw that there is now an admin/setup (I realize theres not a lot of people actively playing with this as much as I am but big changes like this would

[2015-01-12 20:49] nicolaslopezj commented on #9
I think that's a excellent idea. I'm going to do it

[2015-01-12 21:20] #9 closed

[2015-01-16 12:34] hitchcott opened #10 "Pages"
Hi @nicolaslopezj,

I have enjoyed testing orion and wondered if you have plans to implement routing that is not declared within the code of the app? I.e. the ability to create and remove pages via the admin panel.

Thanks!

[2015-01-16 14:48] desertjinn opened #11 "Entity index table structure does not change when navigating between different entities"
I have a few entities defined and each has its own individual structure for its index table.
This is an entity named 'sports' -
![screenshot from 2015-01-16 20 09 32](https://cloud.githubusercontent.com/assets/9519467/5777772/9f0e9bc2-9dbb-11e4-9663-48d67d01ff2f.png)

This is another entity named 'events' -
![screenshot from 2015-01-16 20 10 07](https://cloud.githubusercontent.com/assets/9519467/5

[2015-01-16 15:43] nicolaslopezj commented on #11
Maybe it's an issue with autopublish. Can you try updating all dependencies and removing autopublish before dig in into this problem

[2015-01-16 15:54] desertjinn commented on #11
I have updated the dependencies and removed autopublish but index table structure is still behaving the same. The table structure of the first entity selected seems to persist while navigating between other entities.

[2015-01-16 16:10] nicolaslopezj commented on #11
Ok. I will fix this tonight

[2015-01-16 19:05] iamkevingreen commented on #10
@hitchcott The way I've been doing it is creating basic routes in the code but then adding an additional field to my collection like `slug`. But possibly adding like menu control or something would be cool too.

Is that sort of what you were getting at? But basically create a pages collection and add something like slug and then you can navigate to it at the root level of your app like how wordpre

[2015-01-16 19:14] iamkevingreen opened #12 "First column in reactive table (entities list) clickable"
More of a UI suggestion to have the default functionality of the table to make the first column also clickable into the edit area instead of only being able to click the edit button on the right (like wordpress)

[2015-01-16 19:32] nicolaslopezj commented on #10
I will create a package. I don't think it's a good idea to include it to the core.
Any ideas before starting to work on this will be very appreciated.

[2015-01-16 19:52] hitchcott commented on #10
@iamkevingreen, Exactly, yes -- how you describe it. Thanks for that gist; seems like it covers the basics

@nicolaslopezj I agree it shouldn't be in core -- just wasn't sure where else I should have made this issue.

Thanks for offering to making a package; I think it would be a great next feature. Quite a few potential things to consider I suppose:

* Some way of defining multiple dictionaries/e

[2015-01-16 21:21] #11 closed

[2015-01-16 21:26] nicolaslopezj commented on #11
Sorry, ```aldeed:tabular``` is too buggy. I'm thinking in changing it.

[2015-01-17 00:03] desertjinn commented on #11
Hope you find something suitable soon, your package is truly an awesome addition to meteor.

[2015-01-17 12:22] buduguru opened #13 "404 at /admin and conflict with onCreateUser function"
1. When I first added `orionjs:core` and `orionjs:styles` to my app that I already developed, it did not crush but /admin was unavailable (error 404). Then I tried to install orion on a fresh app and it worked OK. I noticed that more dependencies were installed that time. Then I ran `meteor update` on the 1st app and indeed it added some dependencies that were not added before.

2. Ok, I ran meteo

[2015-01-17 15:03] nicolaslopezj commented on #13
To edit some fields of the users you can create a custom section on the admin.
[code]
You have to create the route with iron router with that same name. If the connected user is an admin, it will already be subscribed to the users collection.
Create a Meteor method that edit the fields you want and call it from the template.

[2015-01-17 15:20] buduguru commented on #13
Thank you. I will try it.

[2015-01-17 15:43] buduguru opened #14 "useraccounts:bootstrap vs useraccounts:semantic-ui"
Orion.js depends on useraccounts:bootstrap but I use semantic-ui on frontend and thus would like to use useraccounts:semantic-ui for users to sign up/in. When I add the latter, it conflicts with the bootstrap version. How can I solve it without forking Orion.js and making new package?

[2015-01-17 15:51] silentwarrior opened #15 "Using OrionJS with existing app that already has a router."
Hello.

I am trying this out for my app, my app already has a router and routes configured, so, /admin will fail everytime.

How can I add this properly without messing up the existing app or the admin part?

[2015-01-17 15:55] nicolaslopezj commented on #15
I really don't know why this is happening to everyone. Try going to .meteor/packages and put Orion right after meteor-platform

[2015-01-17 15:57] nicolaslopezj commented on #14
Sorry, you can't do that without forking. Maybe you can fork, make it optional and do a pull request.
But bootstrap is already loaded with Orion, so it's not necessary to change the login to semantic-ui

[2015-01-17 16:03] silentwarrior commented on #15
This is my packages file as you can see, orion is last :

# Meteor packages used by this project, one per line.
#
# 'meteor add' and 'meteor remove' will edit this file for you,
# but you can also edit it by hand.

meteor-platform
mike:mocha
iron:router
dburles:collection-helpers
matb33:collection-hooks
aldeed:collection2
accounts-password
aldeed:tabular
aldeed:template-extension
alanning:roles
me

[2015-01-17 16:19] buduguru commented on #14
Yes, I understand that if I need all the styles to be consistent I need to rewrite admin html to semantic-ui too. But for now it is only important to have useraccounts forms styled with semantic-ui on non-admin pages. Thank you.

[2015-01-17 16:19] #14 closed

[2015-01-17 16:22] buduguru commented on #15
Look at this issue https://github.com/orionjs/core/issues/13.
`meteor update` worked for me.

[2015-01-17 16:36] silentwarrior commented on #15
When I did meteor update, the project broke for me. I had to comment out all orion lines in packages file.

Error : http://inft.ly/3466bWR

After commenting out both orionjs lines : http://inft.ly/8vzNbuZ

Does this make any sense to you?

[2015-01-17 16:38] buduguru commented on #13
I found how to do that in useraccounts. All custom fields indicated in sign up form are automatically added to Meteor.user().profile after account creation. In my case I just need to make them hidden like this:

[code]

[2015-01-17 16:38] #13 closed

[2015-01-17 16:40] nicolaslopezj commented on #15
Please use version 0.4.2 until I fix the issue with tabular
orion:core@=0.4.2

[2015-01-17 16:53] silentwarrior commented on #15
http://meteorpad.com/pad/miaWhJ7yYpry4STyY/Leaderboard shows me no error, and thats strange.

Replacing :
#aldeed:tabular
nicolaslopezj:tabular

Now gives me another error for "/login" already exists, I assume this is a step forward. Will replace the routes names and see if I get closer to a solution.

[2015-01-17 17:02] silentwarrior commented on #15
Using v0.4.2, it errors out if I use nicolaslopezj:tabular and not aldeed:tabular, so its flipped.

v0.4.2 => aldeed:tabular
v0.4.3 => nicolaslopezj:tabular

[2015-01-17 17:08] nicolaslopezj commented on #15
Remove iron:router from you dependencies and put Orion right after meteor-platform

[2015-01-17 17:19] silentwarrior commented on #15
With that change and putting 0.4.3 as the version number:
meteor update : http://puu.sh/eE83n/1f5583b6ea.png

Fail : http://puu.sh/eE877/a6d286e288.png

[2015-01-17 17:19] silentwarrior commented on #15
meteor-platform
orionjs:core
orionjs:styles
mike:mocha
-#iron:router
dburles:collection-helpers
matb33:collection-hooks
aldeed:collection2
accounts-password
aldeed:tabular
-#nicolaslopezj:tabular
aldeed:template-extension
alanning:roles
meteorhacks:unblock

[2015-01-17 17:36] nicolaslopezj commented on #15
Use version 0.4.2 until 0.4.4 is out please

[2015-01-17 21:20] splendido commented on #13
perhaps providing a hook to let the dev further modify the user object on creation would be a good idea?

something like:

[code]

it's a shame that the usage of `Accounts.onCreateUser` is prohibited to the developer ;-)

[2015-01-18 11:37] silentwarrior commented on #15
Alright will do.

Regarding the sorry not allowed here after admin registration, what should I do ?
http://puu.sh/eGp0n/05bbcc3223.png

[2015-01-18 12:55] silentwarrior opened #16 "Setup Orion for editing the users collection, causes fail."
Hello.

I am trying to setup orion for the users collection, that is a special case if meteor.users exists (accounts package).

Since the AddEntity will internally do Meteor.Collection (and new SimpleSchema), the "error '/users/insert' is already defined" will show up.

It should check if the collection is "users", and if so, use Meteor.users instead of new Mongo.Collection like I do in my app:
[c

[2015-01-18 15:03] nicolaslopezj commented on #15
That is happening because the method you use to create the user was no the official. You can edit the use via ```mongo shell```.
Users must have this attributes:
[code]

[2015-01-18 15:11] nicolaslopezj commented on #16
I think its best to leave the entities like that and add some apis to make more things with the users in the admin

[2015-01-18 15:31] nicolaslopezj commented on #11
Didn't fix ```aldeed:tabular``` but I did a trick to make it work.
PD: ```aldeed:tabular``` it's not entirely buggy, but in the tracker topic yes it is

[2015-01-18 15:35] nicolaslopezj commented on #15
That is happening because the user doesn't have

[2015-01-19 16:04] #12 closed

[2015-01-19 16:05] nicolaslopezj commented on #15
I think this should be closed. You can still ask questions here

[2015-01-19 16:05] #15 closed

[2015-01-19 16:47] #16 closed

[2015-01-19 17:06] nicolaslopezj commented on #16
[User Actions](http://orion.meteor.com/docs/extending)

[2015-01-20 14:16] desertjinn commented on #11
So updating the package will fix it ?

[2015-01-20 14:37] desertjinn commented on #11
Updated the package, the edit/delete buttons are gone from the table but I am able to edit and delete by selecting the table element :+1: . Nice fix.

New issue :
I had a select option specified with options and value and am using the format

[code]
and this worked before the update. After updating, no values are available for the select box.
![screenshot from 2015-01-20 20 01 49](https://cloud.gi

[2015-01-20 15:29] nicolaslopezj commented on #11
Sorry, I was using the submit button the wrong way.

[2015-01-20 16:41] desertjinn commented on #11
It works!! :+1:

P.S - I have a doubt.
When setting up select box, supplying values in the format **{value:'labelvalue',label:'labelname'}**, everything works perfectly. :+1:

But I am setting the select box options by calling **function getVenues()** and returning all the values in the prescribed format. This just shows an empty select box now. This used to work fine before the update to 0.4.6.

[2015-01-20 17:03] nicolaslopezj commented on #11
It's because you are not subscribed.
Add this line of code in the client

	orion.admin.addAdminSubscription(orion.subs.subscribe('entity', 'venues'));

[2015-01-21 13:03] desertjinn commented on #11
Yes, that worked. I also had to tweak calling the function to populate options like this
[code]

prior to v0.4.6 I got the values by calling a function defined outside the entity.

[2015-02-02 17:07] alex-wilmer opened #18 "No 'create' button in Users tab."
According to the docs I should be able to create new users through the UI. I don't see this option anywhere.

[2015-02-02 17:08] alex-wilmer opened #19 "Getting 'signed out' a lot : "You are not allowed to be here""
What is triggering this message? Is there something I can do to prevent this error from popping up so frequently? It will confuse the admin's for sure.

[2015-02-02 17:10] nicolaslopezj commented on #18
You can create invitations and use that invitations to create new users

[2015-02-02 17:11] nicolaslopezj commented on #19
I'm having this error too. I will try to fix it

[2015-02-02 17:27] alex-wilmer commented on #18
How do I create invitations? All I see is this http://i.imgur.com/WQkwoUW.png

[2015-02-02 22:10] nicolaslopezj commented on #18
You have issues with the css. The button should be there

[2015-02-02 22:23] alex-wilmer commented on #18
Ok sorry found my mistake

    @media only screen and (min-width: 600px)
      .title
        display: none;

[2015-02-09 01:00] timfam opened #20 "Passing defaults value to entitiies"
I do like to pre-populate some of the fields with defaults values, with autoform you can do this ({{> afQuickField name="tag" value=valueHelper}}). How do achieve same with Orion? Thanks

[2015-02-10 09:19] lukasvan3l opened #21 "Use this.userId instead of Meteor.userId in add.js"
When doing my own serverside Collection.insert({}) I get this issue because there's problems adding the defaultSchema attributes?

Error: Meteor.userId can only be invoked in method calls. Use this.userId in publish functions.
  at Object.Meteor.userId (packages/accounts-base/accounts_server.js:19:1)
  at Object.defaultSchema.createdBy.autoValue (packages/orionjs:core/lib/entities/add.js:75:1)

[2015-02-11 12:18] semikolon commented on #10
+1

[2015-02-12 13:57] semikolon opened #23 "Seeding dictionary with defaultValue to avoid empty initial fields in admin interface"
Dictionary entries should be seeded (database prepopulated), I felt. This way, the admin users won't be met with empty fields when first using the admin interface. Having an empty field there meant they'd have to go to the home page, copy the HTML of the field in question, paste it in admin and tweak it from there.

Seeding the defaultValue from the dict_seed helper makes the first-ever edit of a

[2015-02-12 18:38] iamkevingreen opened #24 "Spiderable issues?"
Hey just wondering if you've played around with spiderable with any of the orion builds, I have tried to strip some of my sites down and resolve the issues (my own fault for not firing up spiderable initially). But having trouble getting it resolve correctly on both my orion sites.

[2015-02-16 21:07] iamkevingreen commented on #24
wasn't orion :+1: so incase anyone else runs into spiderable issues, the submanager and everything else being used in this package is working nicely with orion!

[2015-02-16 21:07] #24 closed

[2015-02-17 14:48] #20 closed

[2015-02-23 10:26] yaserjarrar opened #25 "License"
There is no mention of what license this is released under. This can be problematic for people in certain (boring) sphere's. Has there been any thought into licensing and if so could you please add a license.md file/something similar.

Cheers,

Yaser

[2015-02-24 18:56] kevohagan opened #26 "Enhancement: Move views out of core"
This is a very promising suite of packages, and i definitely agree with you that the dictionary has huge value as a CMS.

I am setting up a project with orionjs and i found myself cloning both core and styles locally to modify a bit the look and feel.

What are your thoughts on moving views out of core and just have the core package with funcitonality (similar to useraccounts:core) and then have o

[2015-03-03 20:45] rdewolff commented on #6
Am looking forward internationalization as well!

[2015-03-03 20:58] rdewolff commented on #6
Actually it would mean using i18n-db to store the data on the database directly. Cf. https://github.com/TAPevents/tap-i18n-db/

[2015-03-07 14:21] nicolaslopezj commented on #23
@semikolon I think this is a great idea, but not everyone prefer this. We should leave the option for the developer. I you could make a package it would be great!

[2015-03-07 14:22] nicolaslopezj commented on #20
Did you achieve this? If so it would be great if you share the answer with the community

[2015-03-07 14:43] #25 closed

[2015-03-07 14:55] #21 closed

[2015-03-07 14:57] nicolaslopezj commented on #26
I think this is really necessary. It's a lot of work, but it will make orion more open and flexible

[2015-03-07 14:58] #18 closed

[2015-03-07 14:59] nicolaslopezj commented on #19
I really need help here.. I not sure what is causing this. If you know what detonates de logout please tell.

[2015-03-07 19:18] matteodem commented on #8
Is this implemented now :wink:?

[2015-03-07 20:13] iamkevingreen commented on #26
Yeah I was doing the same thing, even with my orion-sass-styles admin stuff. I'd love to just class and structure the admin my own way without having to pull it out of the core when I do it.

+1

[2015-03-07 23:07] nicolaslopezj commented on #8
No, its not. Just answered the question

[2015-03-08 05:56] timfam commented on #20
Yes I did this through the schema
[code]

[2015-03-08 10:35] matteodem commented on #8
Then there's a missing ticket for the actual feature, right?

[2015-03-08 14:35] nicolaslopezj commented on #8
Nope, just answered your question. You said you're going to do it

[2015-03-08 14:37] nicolaslopezj commented on #20
Thanks!

[2015-03-08 14:42] matteodem commented on #8
"I'll see if I have time the next days, thank you for the answer." not seeing anything that states that I would do it. But it's your decision after all.

[2015-03-08 14:43] nicolaslopezj commented on #8
Ok, lets leave this open better

[2015-03-09 20:22] timfam opened #27 "Add jade support"
Please add 'mquandalle:jade', to api.use

[2015-03-09 20:36] nicolaslopezj commented on #27
Why is this necessary? Why is not possible to add it to the app packages?

[2015-03-09 20:43] timfam commented on #27
Hi Nick,
I cloned core because I need to use autoForm instead of  quickForm in the admin/views/entities/* . With out adding jade to api.use it won't compile. I think enough people use jade that adding support for it will be great.

[2015-03-09 22:58] #26 closed

[2015-03-09 23:17] nicolaslopezj commented on #27
Can you try to make it work with the new update (views out of the core)?

[2015-03-09 23:21] timfam commented on #27
You are  the best, I suppose, views in now packages as Bootstrap?

[2015-03-09 23:21] nicolaslopezj commented on #27
@timfam Yes

[2015-03-09 23:34] timfam commented on #27
Works, but I am still going to have to clone bootsrap, I guess that is better than cloning core. Meteor don't yet have a way of over-riding packages  from other packages or files. I.e in drupal, page-20.tpl.php overrides page.tpl.php

[2015-03-09 23:39] nicolaslopezj commented on #27
Well, the purpose of moving the views out of the core is that anyone can easily edit the admin templates. I think cloning bootstrap is a great solution

[2015-03-09 23:44] timfam commented on #27
Cloning is good enough for now but bad idea in the long run. Packages should never be directly edited, we need a mechanism for over-riding files. I want to keep benefiting from updates to bootsrap rather than branch off. What I saying is bootstrap should be treated as an extended admin theme, make sense?

[2015-03-09 23:48] nicolaslopezj commented on #27
Orion is made to support multiples views packages, you can fork and fetch updates. All the logic of the templates is still in the core (look [here](https://github.com/orionjs/core/tree/master/admin/client-common) and [here](https://github.com/orionjs/bootstrap/blob/master/views/common.js)).

Maybe we can have another solution, what are you trying to do?

[2015-03-10 00:00] timfam commented on #27
Yes I see that. I have looked across meteor nothing comes close t orionjs and going forward this will be the defacto admin theme; the community just don't know it yet. Orionjs can be the theme that introduces true extensibility. right now I am forced to clone the whole bootrap - bad. I am only interested in overiding a few files. This will be great if we can first do a check for  local package cal

[2015-03-10 00:08] nicolaslopezj commented on #27
Maybe you can use this package to override few templates https://github.com/aldeed/meteor-template-extension#replacestemplatename

[2015-03-10 00:18] timfam commented on #27
Helpful but not quite there. You have done a great job and I know it's been a long day for you. We can approach this issue with fresh eyes tomorrow or perhaps others will contribute to this discussion, Maybe I should bring it up in meteor forum. Meteor just has to have a standard way of over riding packages. I will spend more time looking at above link to see what truth can be found there :)

[2015-03-11 00:19] pcorey opened #28 "Use plugin version of ensureSignedIn"
This message can be seen in the browser console:

    [UserAccounts] AccountsTemplates.ensureSignedIn will be deprecated soon, please use the plugin version
                   see https://github.com/meteor-useraccounts/core/blob/master/Guide.md#content-protection

[2015-03-11 01:11] #28 closed

[2015-03-13 01:36] williamli commented on #6
looking forward to this as well.

[2015-03-13 19:34] rdewolff commented on #6
Any progress?

[2015-03-13 19:35] rdewolff opened #30 "After a meteor update, admin area error"
Hi all

I just did a ```meteor update``` and tried to reach the admin panel. The following arise when I open mywebsite/admin :

[code]

Any idea what went wrong?

[2015-03-13 19:46] joadr commented on #30
rdewolff
Views were moved out of the orionjs:core in order to give suppor to other technologies different from bootstrap.
To solve your issue just install orionjs:bootstrap like this:
meteor add orionjs:bootstrap

[2015-03-13 21:55] pcorey commented on #19
This is only happening when I open an entity for updating (and maybe creation/deletion), but it happens fairly frequently.

Something is republishing Meteor.users without some fields required by your hasPermission helper (specifically, permission and isAdmin). To see what I mean, add this on the client:

    Tracker.autorun(function() {
        console.log('users', Meteor.users.find().fetch());

[2015-03-13 22:53] pcorey commented on #19
It looks like the way to pass additional fields into Meteor.user() and Meteor.users is to do a null publication. Adding these to server.js seems to fix the issue:

    Meteor.publish(null, function() {
        if (this.userId) {
            return Meteor.users.find(
                {_id: this.userId}, {
                    fields: {
                        profile: 1,
                        usern

[2015-03-14 15:50] nicolaslopezj commented on #6
I'm going to work on this after I finish the pages plugin (#10)

[2015-03-14 15:53] nicolaslopezj commented on #19
Wow, thanks!

[2015-03-14 15:53] #19 closed

[2015-03-14 16:13] hugo665 opened #32 "Multipe Froala"
Hi,

I am using multiple Froala Editors in an entity. Unfortunately when an admin updates the content of one editor the conent in the other editors is removed.

BR

[2015-03-14 16:14] nicolaslopezj commented on #32
Please open this issue here https://github.com/orionjs/froala-editor/issues

[2015-03-14 16:14] #32 closed

[2015-03-14 16:38] rdewolff commented on #6
It would be great to have this not only for dictionaries by the way.

[2015-03-14 17:03] nicolaslopezj commented on #6
Dictionary and entities

[2015-03-14 17:25] rdewolff commented on #6
Great! :)

[2015-03-14 17:59] rdewolff commented on #30
Thanks for your answer. Added the ```orionjs:bootstrap``` package did the trick. Now everything works like a charm!
Thanks!

[2015-03-14 18:00] nicolaslopezj commented on #30
Great!

[2015-03-14 18:00] #30 closed

[2015-03-15 08:20] rdewolff opened #33 "Realtionships"
Is there a plan to enable relationships with Entities? Like having 1-1, 1-N and N-N relationships between them?

That'd be a very nice step ahead and be very helpful to build more complex data structure.

[2015-03-15 23:49] nicolaslopezj commented on #33
I've always have had the idea of enable relations, but I have always managed to make hacky things to not use them (and I think everyone).
I knew adding thing would be necessary in some time.
I will add this in the to-do list

[2015-03-15 23:52] nicolaslopezj commented on #6
https://trello.com/b/dQhi5dF9/orion-roadmap

[2015-03-15 23:53] nicolaslopezj commented on #33
https://trello.com/b/dQhi5dF9/orion-roadmap

[2015-03-16 18:36] pcorey commented on #19
I figured out what was causing this, if anyone's interested:

isAdmin and permission were being added to the Meteor.users collection by the adminUsers publication. Eventually, by switching back and forth between routes enough, the number of subscriptions in SubManager exceeded the cache limit, and adminUsers was removed. This caused the Meteor.users collection to be populated by the default unname

[2015-03-16 21:33] nicolaslopezj commented on #19
Wow, that was very difficult to fix. Thanks!

[2015-03-16 22:53] nicolaslopezj opened #34 "Improve documentation site"
What do you think about the current documentation site?
Would you prefer that the docs is on orion.meteor.com or github?

[2015-03-17 00:34] iamkevingreen commented on #34
I think you're actually doing a pretty good job with the docs, totally fine if they live somewhere else, whatever is easier for you to update is the one you should use. :+1:

[2015-03-17 02:16] nicolaslopezj commented on #34
I changed the documentation to github, becouse its easier to edit and its better to have all in one place

[2015-03-17 02:58] nicolaslopezj commented on #10
https://github.com/orionjs/pages

[2015-03-17 02:58] #10 closed

[2015-03-17 02:58] #34 closed

[2015-03-17 08:37] kevohagan commented on #34
Yes i agree, github is the primary place to look at! :)

On Tue, Mar 17, 2015 at 3:58 AM Nicolás López <notifications@github.com>
wrote:

[2015-03-17 10:11] rdewolff opened #35 "orion web site down?"
Hi all

Just tried to reach the web site (for example http://orion.meteor.com/docs/attributes) but it's not working.

Can you check this please?

Cheers

[2015-03-17 10:44] rdewolff opened #36 "Orion entities relationships via autoform afFieldInput multiple (select)"
Hi all

Am trying to link 2 entities together via it's ID, via a 1-N (one to many) relationship (should be simple).

So I have ```pages1``` and ```pages2```, and I want page1 to have many ```page2``` linked. So I put in ```page2``` a field ```parent``` and use a ```select``` (via autoform) to link it.

Problem: cannot make it work. First the type of object wasn't accepted. Now this code is the clo

[2015-03-17 11:26] kevohagan commented on #35
as nicolas said, he is deprecating the orion.meteor.com website for docs on
github : easier to maintain and contribute. So better just go here to read
about attributes :
https://github.com/orionjs/core/tree/master/attributes

On Tue, Mar 17, 2015 at 11:11 AM Romain de Wolff <notifications@github.com>
wrote:

[2015-03-17 11:49] rdewolff commented on #35
Thanks, didn't know he was deprecating orion.meteor.com!

Cheers

[2015-03-17 11:50] #35 closed

[2015-03-17 12:20] nicolaslopezj commented on #36
A better way to do this it's coming, but in the meantime:
Are you subscribed to page1 on the page2 form? Check this https://github.com/orionjs/core/blob/master/api

[2015-03-17 13:30] rdewolff commented on #36
Lemme check this

[2015-03-17 14:02] rdewolff commented on #36
What are the arguments you use there, in the doc you write :

```The arguments are the same arguments of the original subscription.```

Which is not really clear. Tried :

[code]

but both generate errors.

[2015-03-17 14:04] rdewolff commented on #36
After meteor full restart, the ```orion.admin.addAdminSubscription('entity', 'pages1');``` seems to be accepted.
But that doesn't resolve my problem.

Do you have any example to share where you implement this?

[2015-03-17 14:04] nicolaslopezj commented on #36
The second should work. What error is showing?

[2015-03-17 14:06] rdewolff commented on #36
As just written, the second works. But the problem in the admin is not resolved : cannot submit or save the page2 entity!

[2015-03-17 14:07] nicolaslopezj commented on #36
What it's not working? Please be more specific

[2015-03-17 14:08] rdewolff commented on #36
When I go create or edit the page2 entity, clicking on the "Submit" (create) or "Save" (edit) button has no action. No error displayed in console.

[2015-03-17 14:18] rdewolff opened #37 "Potential bug on /admin/dictionary"
How to reproduce :

Go on the dictionnary page in the admin area and refresh your browser (tested on Google Chrome).

Error :

[code]

Complete logs :
[code]

Error is on comon.js file line 74 :
[code]

[2015-03-17 14:21] rdewolff commented on #36
Have you been able to reproduce the problem @nicolaslopezj ?

[2015-03-17 14:28] nicolaslopezj commented on #37
It's happening to me to

[2015-03-17 14:37] #37 closed

[2015-03-17 14:39] nicolaslopezj commented on #36
I'm on it

[2015-03-17 14:42] nicolaslopezj commented on #36
You must change ```Object``` to ```String```

[code]

[2015-03-17 14:44] rdewolff commented on #36
Will try this now

[2015-03-17 14:46] rdewolff commented on #36
Yes! This works now! Thanks @nicolaslopezj !

[2015-03-17 14:46] #36 closed

[2015-03-17 17:22] nicolaslopezj commented on #35
Documentation is back on the site. It's integrated with Github

[2015-03-17 17:22] nicolaslopezj commented on #34
Documentation is back on the site. It's integrated with Github

[2015-03-19 16:04] aaronlake opened #38 "Issue using admin panel after update to 0.5.5."
Recently updated to orionjs:core and Meteor 1.0.4.1, console returning this now:
[code]

[2015-03-19 16:22] rdewolff commented on #8
Any news concerning this file upload on the local filesystem?
Any example on how to bind this with https://github.com/aldeed/meteor-cfs-autoform maybe?

[2015-03-19 16:31] nicolaslopezj commented on #8
@rdewolff using another provider has nothing to do with autoform. Just fill the functions! It's super-easy, give it a shot. I haven't read cfs docs, but the solution might be similar to this:

[code]

If you put that code in your app (of course that will not work because it's not the real cfs api) all file inputs will use that functions to upload files

[2015-03-19 16:41] nicolaslopezj commented on #38
Are you using this function?
[code]

[2015-03-19 17:16] aaronlake commented on #38
I am not.

[2015-03-19 17:21] nicolaslopezj commented on #38
I'm not having this error. Please specify more

[2015-03-19 17:42] aaronlake commented on #38
The site is fairly basic, the only references to Orion are the a number of dictionary.addDefinitions in a dictionary.js:

[code]

And calls to the dictionary (home.html):
[code]

[2015-03-19 18:33] nicolaslopezj commented on #38
When does the error appears? on the admin?

[2015-03-19 20:18] aaronlake commented on #38
Appears in the console after loading the page after browsing to /admin which redirects to /admin/directory. The page has the star background with a spinner, no elements displayed.

[2015-03-19 22:42] nicolaslopezj commented on #38
Strange, try to clean the project earsing dependecies.
Anyone else having this issue?

[2015-03-20 00:07] rwatts3 commented on #33
I second this . I am coming from the yogiben-meteor-admin platform , and the ability to tie relationships such as posts to comments or posts to users was a feature that I used pretty heavily.

[2015-03-20 11:12] jorisroling commented on #38
I  did, but after removing the entire local meteor store (in **~/.meteor**), it did get away. I remember the orionjs:filesystem was stuck on 0.0.13 (altough I **meteor update**d it more than once). After the cleansing, I got the proper 0.0.15 version, and the above error was gone. Does that help?

[2015-03-20 15:46] nicolaslopezj commented on #38
That might be the error because filesystem 0.0.13 is not compatible with orion 0.5.5.

[2015-03-20 16:11] rwatts3 opened #39 "How to set Default field value or autoValue."
What is the correct way and syntax for setting the default field value or the autoValue of the field ?

[2015-03-20 16:12] rwatts3 commented on #39
Also are there any updates when we will be able to bind relationships.
For instance If I have a post entity and a comments entity I would like to bind the comments to the post they were created under.

I believe yogiben's auxCollection does something similar to this but I am not sure.

[2015-03-20 17:09] nicolaslopezj commented on #39
If can do it defining it on the schema (SimpleSchema) you can do it on entities.
Relationships is not ready yet, but a lot of people has managed to do. Check this for example https://github.com/orionjs/core/issues/36

[2015-03-20 18:39] rdewolff commented on #8
Am trying to use FS.Collection to do this but it's not working. I got problems to handle the file upload and calling the success function.

Could your provide a more detailed example please?

[2015-03-20 18:39] rdewolff commented on #8
cf. https://github.com/CollectionFS/Meteor-CollectionFS

[2015-03-20 18:56] aaronlake commented on #38
orionjs:filesystem wasn't installed for some reason. I installed and updated to 0.0.15, works fine now.

[2015-03-20 19:11] rdewolff commented on #8
Seems that the "success" function called at the end of the file upload is not accepting URL with Port number!

[2015-03-20 19:37] rdewolff commented on #8
Here is the code am using : https://gist.github.com/rdewolff/5777563b491ac27544ec

[2015-03-20 19:42] nicolaslopezj commented on #8
Can you make a pull request on filesystem to accept files with port? It currently uses SimpleSchema.RegEx.Url to check.
https://github.com/orionjs/filesystem/blob/master/lib/collection/init.js

[2015-03-21 08:47] rdewolff commented on #8
Actually it's not the port number causing problem, but a host name without ".com" or "dot something".

[2015-03-21 15:46] #38 closed

[2015-03-21 22:26] rwatts3 opened #40 "Documentation on orion.users.configure"
I am trying to understand the syntax such as entity.posts.personal, entity.posts.?
Is there documentation on the items that can be passed and the best syntax to use ?

[2015-03-21 22:28] rwatts3 opened #41 "Leverage defining user roles."
Would it be possible to leverage user roles, for instance if you want to assign a role of client , or blogger and give any user within that role default permissions.

`alanning:roles` is a great package to use as leverage.

So similar to how you did pages extension you could do roles extension, and have an entity that you can define presets based on a role.

[2015-03-21 22:32] nicolaslopezj commented on #40
It's like a pyramid, more dots, more specific.
If a user has the permission ```entity.posts.personal``` when you this will happen:

[code]

What items do you want to pass?
Best syntax in which case?

[2015-03-21 22:40] nicolaslopezj commented on #41
Something like permission groups?

[2015-03-21 22:50] rwatts3 commented on #41
Correct. for instance if I want to create an invitation, on the left I see admin. What if I wanted to select client, and only give them permission to content, collection instead of navigation.

[2015-03-21 22:50] rwatts3 commented on #41
I would be on board with creating an extension that would leverage this.

[2015-03-21 22:51] rwatts3 commented on #40
nicolaslopezj this is actually what I was looking for I'm just trying to better understand what's available to me when I assign default permissions.

[2015-03-21 22:55] nicolaslopezj commented on #40
Help on the documentation is always needed, if you want to help, you can modify the README files. https://github.com/orionjs/core/blob/master/users/README.md

[2015-03-21 22:57] rwatts3 commented on #40
That sounds like a good deal.  I'd be happy to help.  Will you add me as a collaborator.

[2015-03-21 23:00] nicolaslopezj commented on #40
You can edit these files and send pull requests

[2015-03-22 00:14] rwatts3 opened #42 "How to determine if a user isAdmin on the front end ?"
In conjunction with a previous issue I submitted I would like to know what is the easiest way to run an if within the template to determine if the user is an admin or has permissions to do something.

For instance I would like to say
`
   {{#if isAdmin}}
    display something that only a user with admin permissions would be able to see, however on the    front end.
{{/if}}
`

[2015-03-22 00:18] rwatts3 opened #43 "Alternative to s3"
What is the alternative to s3 I cannot and would prefer not to use s3 to store files, would rather store them locally.

[2015-03-22 00:32] rwatts3 opened #44 "Documentation for creating extensions for Orionjs"
Is there any documentation or a guide for creating Orionjs extensions, for instances how you created orionjs:pages , orionjs:s3 . etc.

I would like to start contributing by building extensions. Also are extensions the same thing as orion.attribute ?

[2015-03-22 05:39] nicolaslopezj commented on #41
@rwatts3 I don't think this is posible with an extension. Some changes in the core are required.

[2015-03-22 05:41] nicolaslopezj commented on #42
If the user is an admin, all permissions will return true. This is how it's used in the admin templates
[code]

[2015-03-22 05:47] nicolaslopezj commented on #43
Some people are trying to do this too. Check here https://github.com/orionjs/core/issues/8

[2015-03-22 05:47] #43 closed

[2015-03-22 05:57] nicolaslopezj commented on #44
```orionjs:pages``` uses:

- To add the button of the pages section on the admin https://github.com/orionjs/core/tree/master/api#adding-tabs
- To allow the admin to set pages permissions https://github.com/orionjs/core/tree/master/users#register-permissions

```orionjs:s3``` uses:

- To use the filesystem api https://github.com/orionjs/filesystem#creating-a-provider

```orionjs:filesystem``` uses:

[2015-03-22 05:58] nicolaslopezj commented on #44
And you can check the code of each extension if it helps. Also, if you think you can make the documentation better, please make a pull request.

[2015-03-22 06:40] rwatts3 commented on #8
Any updates on this implementation. I am willing to work with someone if they would like to collaborate to come up with a solution.

[2015-03-22 06:42] rwatts3 commented on #44
Thank you @nicolaslopezj . I will look into the filesystem issue here #8  . and see if I can make this an extension of some sort.

[2015-03-22 06:42] nicolaslopezj commented on #8
@rwatts3 I think @rdewolff solution might work with the new update of filesystem https://github.com/orionjs/filesystem/commit/de9ad944f7ba2fa4163b2a97e79213c7db3e1db8 (Don't check urls)

[2015-03-22 06:44] rwatts3 commented on #8
ok so I should just update filesystem and remove `orionjs:s3` and it should work ?

[2015-03-22 06:45] nicolaslopezj commented on #8
If the only thing that was preventing @rdewolff solution to work was the checking of the urls, it should work.

[2015-03-22 06:45] rwatts3 commented on #42
Nice , thanks man this will work!

[2015-03-22 06:51] rwatts3 commented on #41
@nicolaslopezj you make a very good point. I have an alternative solution that may work. So creating an entity called roles , then a property within the entity which would be a multi select lookup of current users. You can select multiple users for each role. This doesn't really work in terms of permissions for admin, but throughout the site, the roles entity can be used to determine which users t

[2015-03-22 06:52] rwatts3 commented on #8
Hmm , ok I will give this a shot. @rdewolff When ever you have the solution solved are you planning on creating an extension package ? such as `orionjs:filesystem-local`

[2015-03-22 06:57] nicolaslopezj commented on #41
Thats a good idea.
But anyways, I think [here](https://github.com/orionjs/core/blob/master/users/common.js#L56) we should give the possibility to the developer (or the extension developer) to say if the user has permission and skip the normal checking of permissions

[2015-03-22 07:02] rwatts3 commented on #41
Good point, what are you thoughts on that ?

[2015-03-22 07:52] rdewolff commented on #8
Thanks @nicolaslopezj for updating the url type to String. The error concerning localhost has been already reported earlier, cf https://github.com/aldeed/meteor-simple-schema/issues/239.

Concerning the file upload on file system, I think a simple package would be great. Let's do that!

[2015-03-22 08:48] rwatts3 commented on #8
@rdewolff I will be willing to work with you to create a package if that is okay with you. Let me know what ideas you have.

[2015-03-22 15:28] rdewolff commented on #6
Do you know when you have this completed @nicolaslopezj ?

[2015-03-22 16:57] nicolaslopezj commented on #6
I'm not sure because I haven't started. Maybe the next week or in 2 more weeks.

I'm sorry, I have to study and work too.

[2015-03-22 21:18] rwatts3 commented on #8
@rdewolff Could you post a gist on the code you are using to get this working. I tried to view the gist posted earlier but for some reason it's not available anymore.

Thanks

[2015-03-22 22:09] rwatts3 opened #45 "Create Home link in the admin area."
Similar to how you've done the `Logout` button. I believe it would be efficient for a `Home` or `Site` button to be created in the admin section. Once clicked it will take you to the home page of the site so the user doesn't always have to remove \admin\ from the url to get to the home page.

Any ideas on the best way to implement this?

[2015-03-22 22:38] rwatts3 commented on #45
I was able to successfully create a `Home` link in the admin panel by doing the following.

[code]

[2015-03-22 22:38] #45 closed

[2015-03-22 23:35] rwatts3 opened #46 "Just built a maps extension for Orionjs"
I just added a maps extension for Orionjs , users can now call  `orion.attribute('map')`
and add geo code location as a field.

Used documentation and forked `yogiben:autoform-maps` which extends `aldeed:autoform`

http://screencast.com/t/ZSd85AvdHx

Repository can be found here. https://github.com/rwatts3/orionjs-maps/

[2015-03-23 11:38] nicolaslopezj commented on #46
Good!

[2015-03-23 12:04] nicolaslopezj commented on #27
How is this going?

[2015-03-23 12:13] #42 closed

[2015-03-23 12:13] #40 closed

[2015-03-23 12:13] #39 closed

[2015-03-23 16:16] timfam commented on #27
Hi @nicolaslopezj,
I added support for jade and used autoform for more flexibility(toggle field display). This is why I could not contribute it back
[code]

[2015-03-23 16:18] nicolaslopezj commented on #27
Ok. But is this problem solved?

[2015-03-23 16:20] timfam commented on #27
Yes I will open an another enhancement ticket later.

[2015-03-23 16:20] #27 closed

[2015-03-23 19:06] #46 closed

[2015-03-23 19:06] #44 closed

[2015-03-23 21:19] marccantwell opened #47 "Exception in template helper: TypeError: Cannot read property 'objectKeys' of null"
http://cl.ly/image/381p443H473x

[code]

[2015-03-23 21:21] nicolaslopezj commented on #47
Hi, do you have the latest version of orion?
Do you have the package ```orionjs:bootstrap``` installed?

[2015-03-23 22:18] marccantwell commented on #47
I believe so.  Latest version of meteor with a clean install.
http://cl.ly/image/161z0Q3n1I14

[code]

[2015-03-23 22:52] nicolaslopezj commented on #47
With https://github.com/orionjs/core/commit/9a33b6b4f93e41e2d369d2267988ff6e31265f0c the error should disappear. Update the packages.

[2015-03-23 23:28] marccantwell commented on #47
This might be related, it might not, but I can't get anything to load properly now with a fresh app and install.  No errors in the console, but not sure where to sniff out what is going on.

http://cl.ly/image/001Z2q3n2Y2p

[2015-03-23 23:29] nicolaslopezj commented on #47
You also need to install bootstrap and font awesome.
```meteor add twbs:bootstrap```
```meteor add fortawesome:fontawesome```

[2015-03-24 00:12] rwatts3 commented on #8
@nicolaslopezj are you planning on doing the official extension for this ? if you are i'd like to work with you and assist. I would do it myself but would like to make sure it'd done the correct way with your insight on future extension of orionjs

[2015-03-24 00:37] nicolaslopezj commented on #8
I'm not going to make a official extension. But if anyone make one, I would help.

[2015-03-24 01:35] marccantwell commented on #47
Nice, I have the dependencies working now, but no dictionary, might be related to your earlier commit? http://cl.ly/image/360j3y0p0c1T

[2015-03-24 01:37] nicolaslopezj commented on #47
If you don't have any definitions the dictionary tab won't appear (if everything works correctly)

[2015-03-24 01:45] #47 closed

[2015-03-24 21:23] vonwao opened #48 "Property-level access control on entities"
I offer an idea to add a function on entities to determine if a property has Read or Write access for the current user. Here is an example for a hypothetical Event entity, which has some public properties, some config properties, and some read-only properties:

[code]

Note: this is pseudo-code, I don't know how to access the currentUser or how to define roles, etc.

[2015-03-25 08:51] rwatts3 commented on #36
If I need to subscribe , where do you add the subscription ?
Is it within the entity ?

[2015-03-25 11:51] rdewolff commented on #6
I hope you're progressing :)

[2015-03-25 11:53] rdewolff opened #49 "dict usage with html code in value display html"
Got a small problam after changed the dict fields am using. Now the field's HTML content, which was initially a textarea, displays the HTML code. It's not rendered.

Is there a way to correct this?

[2015-03-25 12:03] rwatts3 commented on #49
Try wrapping in triple curly braces {{{' dict 'yourDefinition'}}}

[2015-03-25 12:04] rwatts3 opened #50 "Question : Regarding orion.meteor.com/docs"
Did you use the pages extension to build orion.meteor.com/docs ?

[2015-03-25 12:09] rdewolff commented on #49
Thanks @rwatts3 ! That did the trick!

[2015-03-25 12:09] #49 closed

[2015-03-25 12:12] rwatts3 commented on #49
No problem.

[2015-03-25 12:16] rdewolff commented on #8
hey @rwatts3 - here is the gist for the file upload. Notice is just a basic implementation to support single file upload and there is no delete method implemented yet.

https://gist.github.com/rdewolff/84ed3f3be3f24f58c1db

[2015-03-25 12:22] nicolaslopezj commented on #36
As a temporary solution, you can subscribe in all the admin. https://github.com/orionjs/core/tree/master/api#subscriptions

[2015-03-25 12:24] nicolaslopezj commented on #50
No, the site fetchs the readme from github and shows them

[2015-03-25 12:38] rwatts3 commented on #50
oh ok, if i wanted to use something similar with the pages would that be possible. I guess the question I'm asking is is it possible to build pages or a docs section using the pages extension or is that out of the scope for pages.

[2015-03-25 12:45] rwatts3 opened #51 "Allow Option to Set Admin Background Photo in a site definition if defined."
Would it be possible to allow a check for the admin background image if the definition is defined.
I think allowing the user to change the background image would really be nice , especially since I am planning on building different apps using Orion.

A simple check if {{ dict 'adminBackground' 'http://currentbackground'}} would be nice.

[2015-03-25 12:58] nicolaslopezj commented on #50
It's totally in the scope. Any doubt you can ask

[2015-03-25 12:59] nicolaslopezj commented on #51
Good idea

[2015-03-25 13:32] rwatts3 opened #52 "Collapsable Admin Dropdown"
Instead of having the admin dropdown remain fully in tact when viewing on a mobile device, The dropdown should actually collapse to the hamburger like the native bootstrap navbar does. I'm finding it to be a little difficult to demo Orion to potential mobile users due to the fact that the entities and nav links are always tall.

By doing this we would be able to have full view of the current form

[2015-03-25 13:37] nicolaslopezj commented on #52
You can make a pull request with the enhancement to the bootstrap repo

[2015-03-25 14:41] rwatts3 commented on #52
http://screencast.com/t/gWbFFiPHo8G

[2015-03-25 14:42] rwatts3 commented on #52
Preparing pull request now.

[2015-03-25 14:49] nicolaslopezj commented on #52
Great!

[2015-03-25 14:50] rwatts3 commented on #52
pull request change the template name from TEadminSidebar back to adminSidebar before testing.

[2015-03-25 21:32] rwatts3 opened #53 "Best way to load a custom page in the admin panel."
Looked through the API and docs and I may have missed it.  What is the best way to add a custom page to the admin panel.  For instance if I want to add a button called Analytics.  And I want to serve a custom page inside the admin panel that has charts and graphs about the sites analytics.

Maybe even render a custom docs page inside the admin area for new users.

[2015-03-25 21:35] nicolaslopezj commented on #53
Here it is
https://github.com/orionjs/core/tree/master/api#adding-tabs

[2015-03-25 23:53] rwatts3 commented on #53
Will the added tab render the admin layout though ?

[2015-03-25 23:54] rwatts3 commented on #53
Meaning if I create a template for analytics.  How would I make that template render inside of the admin area instead of just routing to the page itself

[2015-03-25 23:57] nicolaslopezj commented on #53
That function only adds the button, you must create the route and specify the layout. Filesystem and pages uses that function, you can use them as example

[2015-03-26 00:23] rwatts3 commented on #53
Oh good point thanks man.

[2015-03-26 00:24] nicolaslopezj commented on #53
Perfect

[2015-03-26 00:24] #53 closed

[2015-03-26 07:24] rwatts3 opened #54 "Question : How do you define in the defaultPermissions restricting file behavior to user specific."
How do you restrict file behavior to the specific user.

For instance entity.notes.personal allows you to only allow personal notes assigned to that user.
I would like to do the same thing for files. If the user didn't create the file I would like them not to be able to delete it.

[2015-03-26 11:45] nicolaslopezj commented on #54
This is not currently implemented. You can make a pull request on filesystem with the changes.

[2015-03-26 17:27] rwatts3 opened #55 "Question : General Advice"
Hi

I was wonder if you could answer a general question regarding the pull request and branching process.  I've worked on a lot of projects on my own in regards to git but I don't have a lot of experience in terms of collaborating and managing pull requests for a team.

What I would like to do is fork the orionjs package and make it sync with the original source.  I'm sure I'll need to add an upst

[2015-03-26 17:31] nicolaslopezj commented on #55
I'm sorry, I don't understand you question. I'm not an expert on git, maybe you know more. I you want to make pull request you can make them to the master branch.
I think you can make any branches you want in you fork

[2015-03-26 17:47] rwatts3 commented on #55
Ok ,

So the base of the question is for the features branch how do I ensure that the branch has the latest code from orionjs but also uses my feature updates ?

[2015-03-26 18:31] nicolaslopezj commented on #55
Sorry, I don't know.

[2015-03-26 18:40] nicolaslopezj commented on #6
I made some progress: https://github.com/orionjs/core/commit/ab121decb324bb38d7a4d9e59c9d1c385895452a "Languages for dictionary"

[2015-03-28 03:09] rwatts3 commented on #55
Thank you I think i figured it out.

[2015-03-28 03:09] #55 closed

[2015-03-28 03:10] #50 closed

[2015-03-29 10:36] jorisroling opened #56 "Config password change option"
Should the config password change option not be hidden if the user is logged in through Facebook?

Just a thought...

I really enjoy the package though, good work!

Joris

[2015-03-29 21:00] rwatts3 opened #57 "Meteor Ionic entities not loading even when subscribed."
I am noticing this and not sure if this is a mistaken on my behalf or is there a better way to do this. I am trying to run a {{#each}} statement inside of meteor ionic, and the results are never returned.

Is there a different way to subscribe ?

[2015-03-29 23:51] nicolaslopezj commented on #57
You can subscribe any way you want and even create your own publications for entities.

[2015-03-29 23:51] nicolaslopezj commented on #56
Yes it should

[2015-03-30 14:49] fountainhead commented on #53
@rwatts3 .... I think I need to do something similar. Can you advise how you went about doing this? I haven't explored the code much yet

[2015-03-30 17:18] rwatts3 commented on #53
Hi.  I haven't done it just yet but have an idea of how I'm going to do it.  I will follow up once I implement my feature.

[2015-03-31 17:19] marccantwell opened #58 "Deployment to meteor.com, entities are not loading in admin"
Is the build process unique in some way when deploying to meteor.com?

[2015-03-31 18:08] rwatts3 opened #59 "CKeditor and TinyMCE"
I am not sure why anyone would want to use any of these editors but I figure that since we have the other two options we might as well at these as well. I am going to work on creating extensions for both of these editors for any other users that may potentially want to use them. I personally do not like either one of them but I believe that someone out there would probably want to use them so it w

[2015-03-31 18:09] nicolaslopezj commented on #58
Nope, its the same. Make sure the user has the right permissions

[2015-03-31 18:11] nicolaslopezj commented on #59
I think a code editor would be great. Maybe ace editor http://ace.c9.io/

[2015-03-31 18:15] marccantwell commented on #58
I see, was a plugin blowing up, was trying to use the basic-auth package to lockdown the public side.  Worked locally, not sure what the issue is on the host.

[2015-03-31 18:15] #58 closed

[2015-03-31 20:52] rwatts3 commented on #59
Ace does look promising.  I will look into adding that to the stack as well.  Im also curious as to how we could create variables that will be parsed when the content loads for instance let's say the user is using froala. How could we make it so that {dict 'variableName'} would be escaped and rendered upon page view.  In case they want to dynamically add content within their actual text

[2015-03-31 22:00] nicolaslopezj commented on #59
You can do that with triple braces

[code]

[2015-03-31 22:11] nicolaslopezj commented on #33
https://github.com/orionjs/relationships

[2015-03-31 22:11] #33 closed

[2015-03-31 22:26] nicolaslopezj commented on #41
Maybe this can solve this issue
https://github.com/orionjs/core/tree/master/users#custom-permissions-for-entities

[2015-04-01 01:30] rwatts3 commented on #59
This does not work can you give me an example of how you accomplished this task.  I assigned the variable inside the editor content and it renders the code to the page instead of the code parsed.

[2015-04-01 04:14] nicolaslopezj commented on #59
I'm sorry, I don't understand what you are trying to do

[2015-04-01 04:20] nicolaslopezj opened #60 "Custom entity templates"
Set custom templates to entities. For example, in a entity that represent events, show a calendar instead of the table.

Suggest ideas if you have

[2015-04-01 04:35] iamkevingreen commented on #60
Not really sure where you are going exactly with this one, but in terms of calendars http://fullcalendar.io/ is my goto. looks like it's been ported over a bit here: https://atmospherejs.com/rzymek/fullcalendar

But the callbacks for fullcalendar are totally documented it's a really solid solution for calendars

[2015-04-01 08:02] rdewolff commented on #33
Amazing!

[2015-04-01 16:51] mraak opened #61 "Q: Users admin?"
I quickly peeked into your example with blog posts, registered there and I didn't see any user management. Ideally I'd like to have the ability to see all users, group them, assign privileges, etc.. Is this possible?

ps: In the blog example app, new blog posts are actually not being saved.

[2015-04-01 17:00] rwatts3 opened #62 "Add sub level admin nav items"
Not sure if someone has mentioned it but we should add the ability to add sub level navigation items.  So keep all Homepage related entities under one navigation item.

[2015-04-01 17:09] nicolaslopezj commented on #61
Of course you can manage users. But you have to be the admin to do that. In the example you are not a admin.
When you install orion in your app, you can create the admin user.
Check here http://orion.meteor.com/docs/users

[2015-04-01 17:19] mraak commented on #61
Perfect, should've checked the docs first :) Kudos for the great app, looking forward to try it on a project.

[2015-04-01 17:32] nicolaslopezj commented on #61
Great! Thanks

[2015-04-01 17:32] #61 closed

[2015-04-01 17:59] mraak opened #63 "Q: Is Orion playing nicely with others?"
For example Reaction Commerce? Say I create a blog with Orion and in posts I'd like to use products ("entities") for sale from Reaction Commerce.

https://github.com/reactioncommerce/reaction

[2015-04-01 18:03] nicolaslopezj commented on #63
Orion isn't intrusive. I think you can integrate with that reactioncommerce. I haven't integrate it with that yet.
If you are doing it please share your results

[2015-04-02 08:25] semikolon commented on #10
Cool.
tis 17 mar 2015 kl. 03:58 skrev Nicolás López <notifications@github.com>:

[2015-04-04 08:39] rwatts3 opened #64 "Integrate Haus as an entity type or Orion Extension"
I found this cool app called Blaze Haus http://blaze.haus/browse/0/32 .
Basically this developer has implemented the ability to create template files on the fly , along with a js file and save the data in a mongo collection. I believe we could do something with this to allow rapid building on the fly.

For instance if a user wants to use Orion Pages, and define the template without having to touch

[2015-04-04 14:16] timfam commented on #60
@iamkevingreen You talking about presentation or event entry form? entry is orionjs but for presentation it is out of scope of this project. So please clarify question

[2015-04-04 14:21] timfam opened #65 "Move router for entity CRUD to bootsrap"
Hi Nick,
We should move all routes definition with this pattern ``` /admin/e/:entity/* ``` to bootsrap. I am working on a solution to allow admin to define different template for each entity type. Pull request will be requested shortly. We should have a route.js there

[2015-04-04 14:23] timfam commented on #63
@mraak I am interested too, let me know how I can help

[2015-04-04 14:25] timfam commented on #62
@rwatts3 you mean like a dropdown menu?

[2015-04-04 15:19] mraak opened #66 "Message when orion attribute its not installed"
Not sure what I'm doing wrong. I installed the dependencies as described in Getting started, then created a new project, and copy pasted the entities folder there from this project: https://github.com/orionjs/example-blog

This is what I get. Do I have to install something more or what?

.meteor/packages/meteor-tool/.1.1.2.1kfqnpj++os.osx.x86_64+web.browser+web.cordova/mt-os.osx.x86_64/dev_bundle/

[2015-04-04 15:20] ryanbuiltthat opened #67 "Examples of admin API"
There a few things I'd like to modify in the admin. For example, changing the text in the left column from Orion Admin to whatever....and changing that link so that it links back to the admin and not the home route. Is this possible already using the api? Are there more examples of ways we can override some things? Also, a couple times I've noticed that the `!important` declaration is made in the

[2015-04-04 15:22] mraak commented on #63
I'm not having this in the immediate pipeline, but I will soon do some live projects on Orion so something like this might come up soon. Once I have something I'll post here.

[2015-04-04 15:23] timfam commented on #63
Ok keep us posted. Orion rocks!

[2015-04-04 15:26] nicolaslopezj commented on #60
Instead of showing the table, you can choose. An example was the calendar, same functionality that the actual table has but a different way to display it. It can be other things, like showing entity items like in the files tab.

[2015-04-04 15:27] rwatts3 commented on #62
Correct.  But with the items we add to the entity.  Or admin area . So let's say we want to add an entity but we want the entity to be a child of another entity.  Purely for visual organization.  We could put entity A and then under an orion attribute called parent we could put entity B.  Therefore in the admin panel entity B will be under a drop down of Entity A taking up less space in the admin

[2015-04-04 15:29] nicolaslopezj commented on #65
Awesome!
But can we think an idea to do this without moving iron router?
Maybe using this http://docs.meteor.com/#/full/template_dynamic

[2015-04-04 15:31] timfam commented on #62
Makes sense I think it is the ``` orion.admin.addSidebarTab ``` that needs to be extended to add this functionality. Like adding a parent - child property. I will look into it when I have some free time in the future. Good idea.

[2015-04-04 15:31] nicolaslopezj commented on #66
You have to install the attribute that the example uses https://github.com/orionjs/example-blog/blob/master/.meteor/packages.

We should add an error that says something like "attribute not found"

[2015-04-04 15:32] rwatts3 commented on #62
Thanks.  I will look into it as well maybe we can collaborate on direction and PRs

[2015-04-04 15:34] rwatts3 commented on #62
I also think some changes may have to be made in the fire do to the way the sidebar is structured.  Nothing is looping over the Ul. And there is no li.  So we could restructure to loop over Ul and if an li is present drop it directly underneath the names parent.

[2015-04-04 15:35] timfam commented on #60
@nicolaslopezj you are right about using the fullcalendar this needs a robust solution. I also think he may be asking how to display it to visitors  (non-login guest). This is why I wanted to know the usecase

[2015-04-04 15:39] nicolaslopezj commented on #60
@timfam, you are right. This is only for the admin, anything is its out of the scope

[2015-04-04 15:40] timfam commented on #62
@nicolaslopezj Your thoughts on looping?

[2015-04-04 15:48] timfam commented on #65
I am open to suggestions, I tried two different concepts already I was leaning more on just changing the template rendered via the route api. I will pause and give dynamically template a try if that will save us from touching core

[2015-04-04 16:00] nicolaslopezj commented on #65
We must touch core. In core we must add the changes to the entity and also helpers for the templates. The important is that we try to not move things

[2015-04-04 16:06] timfam commented on #65
Okay. Btw with route api method we don't have to move routes out I just felt since we were touching it we might as well do. Eveything entity should be bootsrap and I doubt any one will be using core without bootstrap? I realize it is a breaking change but this is bleeding edge project, you are practically adding stuff daily and this is just a separation of concerns

[2015-04-04 16:13] mraak commented on #66
Works now. That would be helpful yes, also, since you're architecture relies on many small packages, you could create a table of all of them and where and why they're used.

I haven't seen anything in your Getting Started or here: http://orion.meteor.com/docs/entities, that would suggest which ones I need to install.

Thanks!

[2015-04-04 16:13] nicolaslopezj commented on #62
I totally agree on what @rwatts3 said about related entities, it's a good way to show its a child.
Choosing the parent in the entity definition could be a good idea.

[2015-04-04 16:17] timfam commented on #62
So we add a parent field in the definition and rendered it in a child ```li```?

[2015-04-04 16:17] nicolaslopezj commented on #65
We should try to leave the minimum amount of things in orionjs:bootstrap, because someone could create foundation-views (for example) and the code would be duplicated

[2015-04-04 16:18] nicolaslopezj commented on #66
Not everyone needs the same packages, but I agree about showing which package uses orion-example.
Can you do a pull request to the readme?

[2015-04-04 16:19] nicolaslopezj commented on #66
We still need some help here with the message on the code

[2015-04-04 16:19] timfam commented on #65
Your absolutely right about duplication, I didn't see it from the other framework perspective

[2015-04-04 16:19] #65 closed

[2015-04-04 16:21] nicolaslopezj commented on #62
Add the option here https://github.com/orionjs/core/tree/master/entities#creating-entities in the options fields, beside to icon, etc.
I don't care about with method we use to show it in the sidebar, but it should look well and work fine

[2015-04-04 16:27] timfam commented on #67
@ryanbuiltthat Orion is very flexible, use dictionary link to modify the site name etc. You are right about the link. I am tracking it right now so @nicolaslopezj  can quickly update it to /admin. Also read the docs here http://orion.meteor.com/docs

[2015-04-04 16:42] timfam commented on #67
@nicolaslopezj This needs to be fixed in bootsrap at line 69 ```<a href="/" class="navbar-brand">{{ dict 'siteName' 'Orion Admin'}}</a>``` change to  /admin

[2015-04-04 16:48] nicolaslopezj commented on #64
Like a theme-components store in the admin? I like it!

[2015-04-04 16:51] nicolaslopezj commented on #67
It doesn't need to be fixed, we should add the option to define the link and also the default value of the definition if it is not defined

[2015-04-04 16:57] timfam commented on #67
I disagree, common expectation is for admin theme logo or sitename to point to admin/home or dashboard not to live site. We should change to most common behavior and when we have free time in future extend it.

[2015-04-04 16:57] mraak commented on #66
Did it on the example project. I think you should still add this to Getting Started, just list all the packages and create links to them.

As for help with error message, point me to where this is and if I'll have time I can look into it.

[2015-04-04 18:16] rwatts3 commented on #64
Correct.  So what are your thoughts on how to integrate.  Extension with attributes for html css and json file.

Or something different.

[2015-04-04 18:18] rwatts3 commented on #62
Alright.  I'll begin work on the pr . I'm going to keep this in core since its directly working with the base.html file  And entities option.

[2015-04-04 18:18] mraak opened #68 "Not able to actually add/edit users"
Can only create invitations. Is this on the roadmap and is there a workaround?

[2015-04-04 18:48] rwatts3 commented on #68
There is an option for allowing users to register via the front end , with a "register" link. This allows the user to register on their own.

[code]

[2015-04-04 19:07] rwatts3 commented on #67
Actually this update was implemented in a pull request I submitted. I left the actual text of the link to default 'Orion Admin' since it seems most prominent to the system. And when the user defines the 'siteName' definition the site will inherit the name. Now I have built a separate application that adds a work around for long site names.

Simply define another definition called siteLongName , an

[2015-04-04 19:28] ryanbuiltthat commented on #67
Thanks everyone. Just starting out I didn't eve put 2 and 2 together when thinking about dictionary definitions. I've been at this for a handful of hours already and most of the functionality I need is done and the site is functional. I chose orion because it really did seem like I could build what I needed quickly and I'm realizing that.

[2015-04-04 19:36] nicolaslopezj commented on #62
Yeah, the code changes must be in the core and bootstrap

[2015-04-04 19:40] nicolaslopezj commented on #66
Here it is https://github.com/orionjs/core/blob/master/attributes/common.js#L33.
Thanks

[2015-04-04 19:55] looshi commented on #64
@rwatts3
cool, so you want to allow Orion admins the ability to define their own templates for a given blog post or 'page' ?
I don't really understand how Orion works yet,  but I can explain a bit more about Blaze Haus and point you in the right direction.
Using this technique inside of a CMS is one of the few practical applications for it, so I think it's cool you want to try it out.   I have an

[2015-04-04 19:59] timfam commented on #67
@rwatts3 I wrote a long reply and scratched it. Short answer it depends on use case. For now lets go with your solution. I appreciate you solving the problem of getting to home, I guess I need to add a back to admin page link to my app

[2015-04-04 20:06] rwatts3 commented on #64
Hi @looshi ,

Thank you for coming over and joining the discussion. I'll give a brief background about my self , then dig into the integration. I am a CMS Developer for a company called Simpleview in Tucson Arizona, We have a CMS product where we use a core , and extend it to meet the client's needs. I have a lot of background in working with CMS systems, on the contrary we used Coldfusion for a l

[2015-04-04 20:08] rwatts3 commented on #64
In terms of an editor I did not look at the full documentation but I'm sure you are using something similar to ace. I am currently working on an Orion attribute similar to froala, and summernote, that will give ace as an option.

[2015-04-04 20:09] mraak commented on #68
I was thinking of adding them from admin. Once you click "Create" on the users panel, you can only create an invitation. I'm thinking if it's possible to actually get fields where you can enter users email and create a user.

btw, I added your code, but how do I add register link to the page? Is there another package for that and what is the syntax?

[2015-04-04 20:11] timfam commented on #67
@ryanbuiltthat I don't think Nick added a footer yet to the template, but this can be done easily and push into the next release you would simply add the dictionary in the template that you want displayed in the footer. i.e  ``` <template name="example">
    {{ dict 'myfootertext' 'default text just incase you forget to add content' }}
</template> ```
I should do a PR when I have some time to get

[2015-04-04 20:14] rwatts3 commented on #67
@ryanbuiltthat
I too when I started using Orion was so locked into structure, I didn't realize that it allowed me to change merely anything I wanted. So the `siteName` definition is simply a definition that I added into my app, I then realized that after building 3 apps I was constantly using `siteName` to reference things in my app. I did not have to modify any template files to get the `siteName

[2015-04-04 20:19] rwatts3 commented on #67
@ryanbuiltthat  Keep in mind that although Orion starts you with a lot of options out of the box, it also leaves a lot of room for extensibility. For instance not every user would want to use a footer, so simply defining a dictionary item for footer would work.

I have done this in a mobile app by defining a dictionary group of `app` then anything related to the overall app such as footer, header

[2015-04-04 20:22] rwatts3 commented on #67
@ryanbuiltthat If you post a link or gist to the project you are working on or add it to nitrous.io I would be more than happy to jump in and give some pointers and show better ways to use Orion.

[2015-04-04 20:27] rwatts3 commented on #68
ok so
[code]

actually enables the `register` link. so if you go to `/login/` and you are not a logged in user , you will see the register button at the bottom of the page. Inside of the defaultPermissions , is where you determine what options the users get by default. If you set this to false this means users can not register unless you directly send them an invitation. So let's say you have an e

[2015-04-04 20:37] looshi commented on #64
@rwatts3
okay, cool.
Blaze Haus is kind of a bloated codebase, due to the fact that it supports reactivity in the Template editor ( multiple users can edit the same template at the same time ) , also it supports a Meta type of Collection,  which is kind of weird, this is raw json stored basically as a string and then a client-only Collection is instantiated from it.
If you don't need to support re

[2015-04-04 21:04] ryanbuiltthat commented on #67
@rwatts3 So I think I see where I'm not getting it. I'm using Orion straight out of the box. Meaning I go to `/admin` and start adding my packages....and so on.

If I'm understanding you correctly (and I may very well not be) I'm to build my own backend templates? Both you and @timfam mention the regular meteor template syntax but when you're just out of the box, where do those template calls go?

[2015-04-04 21:13] timfam commented on #67
@ryanbuiltthat usually I do my developement by packages so I can reuse them just like @rwatts3 explained. My advise is download the example blog and play around with it. The structure is very instructive. Then ask your questions after, we are here to help :)

[2015-04-04 21:23] rwatts3 commented on #67
@ryanbuiltthat
Okay I see exactly where you're coming from what you want to do is for or clone the example blog repository.
Take a look at how the folder structure and the templates are set up. Anything that I am defining or doing inside of the Orion admin for instance defining definitions or defining entities you can put in a folder called Orion I usually put any folder or any templates or code t

[2015-04-04 21:25] rwatts3 commented on #67
When you look at the code documentation that @nicolaslopezj has provided inside of example-blog you will be amazed. This is a pure example of great and unprecedented documentation. He has done an extremely good job at explaining in the code why he assigned or did a code a specific way and the results to how that implementation will work. I can truly say everything if not most of what I have learne

[2015-04-04 21:30] timfam commented on #67
@ryanbuiltthat we got your back just look at the example blog take a day if you need it, then come back with your questions :) and thanks @rwatts3 I appreciate you helping out the new guys. Investment in Orion will pay off big time

[2015-04-04 21:33] rwatts3 opened #69 "Orionjs Tutorials"
Hi @nicolaslopezj
I have been bouncing around through the different packages and extensions and I am noticing that although the readme.md docs and examples are reat for prestine developers, there are a lot of people in the community that are very new to meteor and are extremely excited about Orion however some of them may be getting lost in terms of the best practices and ways to implement the app

[2015-04-04 21:34] rwatts3 commented on #69
P.s. I am happy to take this on and start the initial building once I hear your thoughts and guidance.

[2015-04-04 21:42] rwatts3 commented on #67
@timfam
Thank you ,

I believe that every orion user has the ability to become great contributors to the system. Therefore helping new users get up to speed on the best practices , and how to Orion, as many of you have done for me will help grow the community at a more rapid pace. I have just created an issue in Orion Core letting @nicolaslopezj  know that I will be working on a tutorials applicat

[2015-04-04 21:43] rwatts3 commented on #67
I will start with the example-blog , and build this on my current site, then once the application for official tutorials is complete I will migrate to that. @timfam if you want to help build it please let me know.

[2015-04-04 21:49] timfam commented on #67
@rwatts3 more than happy to help!

[2015-04-04 22:15] ryanbuiltthat commented on #67
Classic example of just diving in without checking if the pool is filled...the example blog is really illustrating some key points. I never even saw that link!! Thanks again, I do have more questions but I'll have examples, and more precise information for them tomorrow and maybe have worked through them.

[2015-04-04 22:38] rwatts3 commented on #67
@ryanbuiltthat No worries. When I build an application, or when I build an orion attribute I try to follow @nicolaslopezj example-blog as close as possible. It is a really good way to not only document to the end user how to build on the system, but it also helps you work through problems and solutions.

[2015-04-04 22:49] nicolaslopezj commented on #64
I like a lot this idea. I was also thinking of this before, but now I have it more clear.
The thing I imagine is a website that people can upload pages templates with its javascript and css (or less) code.
And people without leaving the admin panel can browse and install them.
Maybe have some premium templates (or templates packs) and sell them. This will give orion some money for more profesional

[2015-04-04 22:57] nicolaslopezj commented on #69
Great, awesome.

It would be a great idea to have a repository with tutorials (I can give you permissions) and make the orion website automatically fetch them. This way anyone can contribute too.

Good motivation! Thanks!

[2015-04-04 23:24] rwatts3 commented on #64
@nicolaslopezj
I believe we were thinking the exact same thing. I was working with a Coldfusion based CMS called Mura CMS. I created a few themes, and allowed the user to edit the theme files within the CMS. This made it so that I could have the theme be sold at a subscription level, and if they didn't like or want the theme they could swap it for a different one.

In this instance by allowing the

[2015-04-04 23:28] nicolaslopezj commented on #67
@rwatts3, @timfam you are awesome, you really motivate me.
If you want more examples I have this repository with some websites I made https://github.com/madeby-nicolaslopezj. Check the version of orion first, some project use old ones.

I added @rwatts3 to the tutorials team, maybe you @timfam want that too?

Using definitions can solve a lot of problems, but my vision is this:
All things that are

[2015-04-04 23:38] rwatts3 commented on #67
@nicolaslopezj
Since the creation and addition of users-attributes, and relationships I have managed to keep things seperate from the site administrator by defining a definition called app or dev. Anything that the developer would like to give to the site administrator can be assigned in other dictionary areas. But let's say the developer wanted to set a base footer, that he may or may not want to

[2015-04-04 23:43] nicolaslopezj commented on #67
@rwatts3 If was thinking of this, but I forgot to say:

Keep the changes in the code but the developer can set them to a definition, let me show you my idea

[code]

This leave the possibility to have both. And also you if you have that "orion-app-starter" package you can add that piece of code too there, so the changes would be applied automatically

[2015-04-04 23:43] timfam commented on #67
This level of abstraction makes sense to me. We should really give admin
some awesome powers but be able to limit it based on permission and
experience
On Apr 4, 2015 7:38 PM, "Ryan Watts" <notifications@github.com> wrote:

[2015-04-04 23:47] timfam commented on #67
Yes this is the best of both world.
On Apr 4, 2015 7:43 PM, "Nicolás López" <notifications@github.com> wrote:

[2015-04-05 00:15] rwatts3 commented on #67
Great code example.
Ok two questions. I am going to create the suite of starters so any user can start with predefined items as we've discussed, if they don't want the excessive bloatness , then they can simply not install the starter package.

The question I have is , do we still need to define the definition in the dictionary but not assign it to a dictionay group. So if I did siteName do I stil

[2015-04-05 00:19] nicolaslopezj commented on #67
The thing that I'm saying is that we set the title or link to take the value of a definition, you can set it to any definition you want and of course you also need to define it

[2015-04-05 00:33] rwatts3 commented on #67
Oh I see that makes perfect sense.

[2015-04-05 00:36] timfam commented on #67
,

[2015-04-05 05:08] looshi commented on #64
@rwatts3
 i mean all i can say is "via con dios"...  the dynamic Blaze templating is there for the taking, so if it works out for you guys go for it.
I do want to go on record here and state clearly : the way Helpers are implemented in Blaze Haus are extremely insecure and really only used for experimental purposes.   That's not to say the same method couldn't be used in a secure environment.   Bu

[2015-04-05 07:34] mraak commented on #68
Thanks for this it's very useful but it still doesn't answer original question.

[2015-04-05 07:36] mraak commented on #69
+1

I could also chip in an example here and there.

[2015-04-05 14:38] nicolaslopezj commented on #68
@mraak, you can't right now. If you want you can make a pull request with the changes, I can guide you.

[2015-04-05 15:52] nicolaslopezj opened #70 "Merge all repositories"
I was thinking in merging all the repositories into this, as [meteor does](https://github.com/meteor/meteor/tree/devel/packages). Having each package in a different folder.

Why?
One of the reasons is because when someone wants to send a pull request they have to send it to different repositories, with this change that would be a lot easier.
Also, is faster to send updates

This change could also

[2015-04-05 17:30] rdewolff commented on #69
+1

[2015-04-05 17:33] rdewolff opened #71 "Entities - multiple files"
How can I specify that I want some entity to be an array of files?

For an array of String, we do something like :

[code]

How can I do that for the files that are like :
[code]

Thanks for your help!

[2015-04-05 18:08] rwatts3 commented on #69
Write your examples and submit a pull request to the tutorials repository.  I'm in the process of writing a boilerplate for the tutorials now.

[2015-04-05 18:08] iamkevingreen commented on #70
I think this is a good idea, it will also prevent duplicate/confusing tickets/issues. Especially since this is sort of an all in one thing anyway, just with the pieces removable as you need them.

[2015-04-05 18:40] rdewolff commented on #71
Or should we use alternative solution to do that?

[2015-04-05 18:59] nicolaslopezj commented on #71
Check this https://github.com/orionjs/file-attribute/issues/3

[2015-04-05 21:01] Weijtmans commented on #6
@nixolaslopezj sorry tot bother you! Any ETA on languages for entities? I would love tot use Orion on my next project, but localization is essential. Cheers!

[2015-04-05 22:30] nicolaslopezj commented on #6
Not yet, im sorry! I have to finish other stuff first.

[2015-04-06 00:28] ryanbuiltthat commented on #67
Wow the sample blog is an awesome resource!

Few questions remain; can template level subscriptions be used?

Also I think a helpful feature would be contextual extensions. Similar to a
CMS called MODX where you have a manager (back end) and web (front end)
context. I actually was more than halfway through porting my project over
when I hit a conflict between Orion and materialize. Being more spec

[2015-04-06 02:21] nicolaslopezj commented on #67
@ryanbuiltthat

Yes, you can use template level subscriptions.

Thats a problem right now, the admin is loaded in all routes. A solution could be to fork orionjs/bootstrap and make it materialize.

Yes you can extend the admin, check here https://github.com/orionjs/core/tree/master/api#adding-tabs

[2015-04-06 03:05] rwatts3 commented on #67
@ryanbuiltthat
Another thing to note is that when you create your side tabs and custom routes, don't forget to render the adminLayout when you create the route, so that your custom admin item looks and feels like it belongs in the admin area.

I noticed this when I tried to add an analytics option to orion, but forgot to use the layout template of Orion Admin. Once I added the layout template to m

[2015-04-06 09:06] loongmxbt commented on #45
How to specify the sidebar order for home link? I found the home link in the middle of all links, and I want it to be the top one. Any ideas to do this? Thanks!

[2015-04-06 09:23] loongmxbt commented on #45
I think I should customize orionjs:bootstrap to do this.

[2015-04-06 11:25] nicolaslopezj commented on #45
This solution is old. In new versions the link is in the top.
https://github.com/orionjs/bootstrap/pull/3

[2015-04-06 11:32] loongmxbt commented on #45
That's really cool!

[2015-04-06 12:01] loongmxbt commented on #26
How to customize admin template based on orionjs:bootstrap.

I mean I want to redefine `<template name="adminLayout"> </template>` at views/admin/base.html , and let it override the package's base.html, how can I do that?

[2015-04-06 12:05] nicolaslopezj commented on #26
You can download the bootstrap repository and put it in your app's /packages folder, you can edit it however you want

[2015-04-06 18:27] timfam commented on #70
Plus 1

[2015-04-06 18:29] timfam opened #72 "Custom entity form"
Take a look at https://github.com/timfam/core/blob/master/admin/client-common/entities.js template can now be set by developer but we need to move it to db. I am thinking add to entities.options. @nicolaslopezj  I need your guidance here

[2015-04-06 19:42] nicolaslopezj commented on #72
What do you mean by add it to db?

I think the best way is to set as property of the entity object the template. Like orion.entities.posts.indexTemplate, orion.entities.posts.createTemplate, etc.

And set them using options in the entity definition, next to pluralName, etc.

[2015-04-06 19:45] timfam commented on #72
Yes this is what I have done. But it has to be stored as an array somewhere for retrieval as Entitylist are you on freenode lets discuss it for a few minutes?

[2015-04-06 19:48] nicolaslopezj commented on #72
I'm not on freenode, we can chat in Google hungouts. My email is in my profile

[2015-04-06 19:54] timfam commented on #72
Don't you need a gmail account to use hangout?

[2015-04-06 19:55] nicolaslopezj commented on #72
No, I use it with that one

[2015-04-06 20:01] timfam commented on #72
Bear with me, I am trying to figure out how to invite you. I confess I hardly use hangout, skype is my preference

[2015-04-06 20:02] nicolaslopezj commented on #72
Let's use Skype, nicolaslopezj.
I'm sorry I'm on my phone, can't connect to irc

[2015-04-06 20:54] nicolaslopezj opened #73 "Remove the default publication for entities"
The default publication is dangerous and data isn't always public

[2015-04-07 01:39] timfam opened #75 "Etherpad for project maintainers"
Hosting a new instance of etherpad dedicated to orionjs, this should allow for quick collaboration http://45.33.83.72:9001/ @nicolaslopezj  I can make it a subdomain of your site if you prefer that.

[2015-04-07 03:43] nicolaslopezj commented on #75
We don't have any site, maybe we should buy a domain

[2015-04-07 03:45] timfam commented on #75
Find the name and I can buy it if you like
On Apr 6, 2015 11:44 PM, "Nicolás López" <notifications@github.com> wrote:

[2015-04-07 03:50] nicolaslopezj commented on #75
Don't worry @timfam, but thanks!
What do you think about orionjs.org?

[2015-04-07 04:17] nicolaslopezj commented on #75
Ready, how do we add it to etherpad?

[2015-04-07 08:34] mraak commented on #68
Basically my use case is the following:

- have the CRUD panels for users that work same as for other entities (with also having "active" or "published" flag)
- have each user have a profile entity (various fields)
- a user can create "organization" entity and invite new users to that organization. They all have permissions to use all entities belonging to organizations, like create, edit posts fo

[2015-04-07 12:59] nicolaslopezj commented on #68
That's great. Can this be a package?

[2015-04-07 14:44] mraak commented on #68
I'd say have the CRUD for users built right into core. Then have to to more packages:

- orion-profiles, one that deals with users having more info about them as profiles. Such as Django profiles package.

- orion-organizations, or orion-groups, where org creation and internal permission assignments (by org admins) would work.

[2015-04-07 14:48] nicolaslopezj commented on #68
Great @mraak. How the crud is compatible with the current invitation system and editing permissions?

How orion profiles would work?

How orion organizations compatibilice  with current permissions system?

[2015-04-07 14:55] mraak commented on #68
These are all the things I'd have to research, since I only started to look into Orion. But CRUD for users could be just a table, as for other entities, and then be able to edit and delete users, just as you would posts for example.

I'd need to dig into the Orion code a bit to see how to do the other two things, if you could provide some guidance for new committers that would be great.

[2015-04-07 14:55] timfam commented on #68
Sorry guys I am late. Orionjs must first incorporate roles https://atmospherejs.com/alanning/roles in any robust platform permission is role based. then users with certain roles can create organisation etc. The organization package can extend this roles furthers to have internal permission too. The permission matrix is one of the most complex part of any serious platform

[2015-04-07 14:56] mraak commented on #68
@timfam Right, I thought this is maybe already used with the current permission system.

[2015-04-07 14:59] nicolaslopezj commented on #68
@timfam orion has a different permission system, more adapted to this framework. The documentation is online.

@mraak Lets start with one thing, crud users. You can tell me in which parts you have trouble.

I'm planning to do a big code clean up, and some api changes, so lets wait a little before making changes to the core of the core (permissions)

[2015-04-07 15:07] timfam commented on #68
@nicolaslopezj Yes I know about the existing permission system, but it will soon get out of hand, it's easier to assign rights to 4 roles than to 500 users. so if @mraak is looking towards user crud then it is about time for taking a peek into roles integration. There has to be a way to make it work

[2015-04-07 15:09] nicolaslopezj commented on #68
What do you mean by assign rights to 4 roles than to 500 users?
Ask me use cases and I will tell you how you can do it with this system

[2015-04-07 15:09] mraak commented on #68
I wanted to create something similar to Orion - CRUD Panels package, but realized you guys are much more far ahead so I'd rather use this. One thing I had to do is have separate systems for users CRUD and for other collections (schemas). We used roles from the beginning.

[2015-04-07 15:12] nicolaslopezj commented on #68
Orion permissions system its not too different to roles, don't be afraid

[2015-04-07 15:13] kevohagan commented on #68
i agree with @timfam, using alanning:roles would be a better solution for
the long term.

For the moment when creating a user you can check permissions for different
actions : entities.post, entities.delete , dictionary.images etc etc

It would be much easier on the long term to definte permission using user
roles : admin, editor, normal user etc

and then inside the admin role defining orion perm

[2015-04-07 15:13] timfam commented on #68
I mean it easier for admin to assign permissions to roles i.e [guest, authenticated, editor, manager, admin] then assign arbitrary numbers of users to each role. very simple and how it's done in all enterprise apps or CMS. If I don't want a user to get certian permissions and just remove them from the "editor" role

[2015-04-07 15:16] nicolaslopezj commented on #68
Ok, this makes sense to make. I will change it to roles on version 1.0 along with the code clean up

[2015-04-07 15:18] timfam commented on #68
We should try and integrate with the exisiting roles package if possible, this is make it easier for people migrating into Orion that already using roles in their applications

[2015-04-07 15:19] nicolaslopezj commented on #68
Yes, this will take a while

[2015-04-07 15:20] timfam commented on #68
We will all do it together. I think roles is damn important to every one here

[2015-04-07 15:24] timfam commented on #75
Point the domain nameserver to ns1.linode.com, ns2.linode.com to ns4.linode.com and I will add it to the hosting panel.

[2015-04-07 16:01] nicolaslopezj commented on #75
Can we do this without only changing cname records?

[2015-04-07 16:13] rwatts3 commented on #68
I agree take a look at alanning:roles for example.

[2015-04-07 16:25] nicolaslopezj opened #76 "New api for entities"
I would like to make a change to the current entity declaration.
I want to make it more similar to meteors way, so its easier for new users.

Something like this:
[code]

[2015-04-07 16:27] kevohagan commented on #76
I like the idea! I found that namespacing in orion was a bit to opinionated
at the beginning to understand it well, i guess something closer to Meteor
specifications would be easier for onboarding new devs

On Tue, Apr 7, 2015 at 6:25 PM Nicolás López <notifications@github.com>
wrote:

[2015-04-07 16:29] timfam commented on #75
Yes I suppose so, if you want to use it as subdomain. You have to do cname from your end

[2015-04-07 16:30] nicolaslopezj commented on #75
Where do I point it?

[2015-04-07 16:33] nicolaslopezj opened #77 "Write tests"
On the release 1.0 this will be needed

[2015-04-07 16:34] nicolaslopezj opened #78 "Version 1.0"
This issue tracks the process of the version 1.0

- [x] Relationships #33.
- [ ] Languages for entities #6.
- [ ] Clean up the code more, so its easier for people to contribute.
- [x] Merge all repositories into this one.
- [ ] Change current permission system to roles.
- [ ] New api for entities #76.
- [ ] Remove the default publication for entities #73.
- [ ] Create a new website.
- [ ] Write te

[2015-04-07 16:59] timfam commented on #76
Agreed!

[2015-04-07 17:13] timfam commented on #75
45.33.83.72
and we access it as subdomain.domain.com:9001

[2015-04-07 17:22] timfam commented on #78
If we do it organically it will give everyone a chance to adapt to it without one single breaking release. As the new features come out, I will personally keep re-factoring my apps. I knew this would happen when I adopted meteor. I will say merging the repos should come first

[2015-04-07 18:17] iamkevingreen commented on #78
This one might be a bit out of scope, but I'd love to see the bootstrap dependency removed from the admin. I might be interested in contributing to that actually because I loathe bootstrap. And maybe just clean up the default admin to be more modern looking.

[2015-04-07 18:20] rwatts3 commented on #78
Speaking of cleaning up the default admin I would love to see Inspinia Admin panel used with orion.  I simply like the look and field and it is clean and modern.

[2015-04-07 18:20] rwatts3 commented on #78
I have already purchased a subscription to inspinia admin so I get the latest updates and versions.  We could use that here.

[2015-04-07 18:26] rwatts3 commented on #70
I agree as well.  You can assign a label to each package and issues relating to a specific package could be assigned accordingly.  I work a lot with SCRUM.  And even moving to a scrum approach for the team would be cool.  Check out my repo to see how I have organized my issues based on SCRUM methodologies.  It makes for easier collaboration and control of the overall project.  And the labels for i

[2015-04-07 18:29] rwatts3 commented on #70
Also for Api documentation we should really look into docmeteor I have just started using it and it is amazing.  Aldeed autoform uses it.  And it looks really clean and will actually solve a lot of the Api questions.  Go to aldeed autoform and look at Api.md and Api.internal.md.  Docmeteor auto generated the Api based on the package.js file.

[2015-04-07 18:59] timfam commented on #70
Actually the best way to approach a project is using afeature tree at a high level
![image](https://cloud.githubusercontent.com/assets/10576880/7030968/6660c0e2-dd36-11e4-85d3-379ee6ee9f5a.png)

IMHO nothing beats a visual representation of hierarchy of tasks, goals, objective

[2015-04-07 19:16] mraak commented on #78
I think the list is good.

I wouldn't worry so much about the front end technology for admin. Look at Django, it went with something very simple for a long time until people created their own skins on various technologies, and you're now able to choose and use whatever you prefer.

[2015-04-07 19:17] mraak commented on #78
Also a small starting guide how to contribute.

[2015-04-07 19:32] nicolaslopezj commented on #75
And can you change it to port 80?

[2015-04-07 19:35] nicolaslopezj commented on #78
@iamkevingreen I will focus on making orion as separated as posible to bootstrap, but the default theme will still be in it.
You can create a custom theme!

[2015-04-07 19:38] nicolaslopezj commented on #78
@rwatts3 I don't think the license of inpinia admin would allow this

[2015-04-07 20:28] #70 closed

[2015-04-07 20:38] nicolaslopezj commented on #78
I changed the issue to a pull request #81

[2015-04-07 20:38] #78 closed

[2015-04-07 20:39] mraak commented on #68
alanning:roles is also supporting groups, which could be used for managing organization specific privileges.

I agree with @timfam, this is very important for all of us.

Short example from https://github.com/alanning/meteor-roles

Roles.addUsersToRoles(bobsUserId, ['manage-team','schedule-game'])
Roles.addUsersToRoles(joesUserId, ['manage-team','schedule-game'], 'manchester-united.com')
Roles.add

[2015-04-07 20:56] timfam commented on #68
Using roles for organizations not very good idea. What if you want to
expose a page for the organization?  Organizations should be entity like
with the ability to support departments and have attributes.  Organizations
admin should be separate from roles admin.
On Apr 7, 2015 4:39 PM, "mraak" <notifications@github.com> wrote:

[2015-04-07 21:50] mraak commented on #68
I was even thinking of rolling out my own specific organization functionality without creating a package. All I need is group/role based privilege management more or less.

Having orgs with departments, subdepartments, clubs, and whatnot is way to complex for what I had in mind. I don't need a full ERP, just owner, admins and publishers, preferably with auto-built UI for that, hence Orion.

[2015-04-07 22:20] rwatts3 opened #82 "Documentation for cloning a specific folder in git to work on PR"
Just a note but we need to update the documentation for the community on how to pull the repo and specify a folder.  So if they want to work on bootstrap specifically they don't have to pull the entire repo down.  Is this possible ?

[2015-04-07 22:23] timfam commented on #68
We don't need all that feature set yet. However it has to be extensible,
you make the base with the features you need and some one else can build on
it later
On Apr 7, 2015 5:50 PM, "mraak" <notifications@github.com> wrote:

[2015-04-08 00:43] nicolaslopezj commented on #82
They must pull all the repo

[2015-04-08 01:05] rwatts3 commented on #82
Ok sounds good thanks for clarifying

[2015-04-08 01:05] #82 closed

[2015-04-08 02:04] rwatts3 opened #83 "Assign Data Attribute and Class to Orion Attributes"
I am building a tooltip extension for Orion. I would like to know how and what is the best way to pass a class and a data attribute to the afFieldInput of the orion attribute.

These are the only two components I need to render the tooltip.

The tooltip takes a class , and looks for `data-tooltip="Tooltip's content"` where the content of the data attribute is the content of the tooltip.

[2015-04-08 02:44] timfam commented on #75
Only if I use nginx server as a proxy. lets use it this way for now,
when I have some spare time i will get that done

On 4/7/15, Nicolás López <notifications@github.com> wrote:

[2015-04-08 03:40] timfam commented on #83
This should work ``` {{> afQuickField name='firstName' class="classname"}} ``` If you are using ```defualt quickform``` the only way would be through the schema

[2015-04-08 04:28] rwatts3 opened #84 "How to render Tabular Table on front end using an entity."
I would like to render the Tabular Table of an entity on the front end for users to search the table.
I keep receiving the following error when I try this.

[code]

[2015-04-08 04:33] timfam commented on #84
I have seen this error too but never had time to investigate. I was going to work on this over the weekend

[2015-04-08 04:33] hitchcott commented on #6
+1 for tap:i18n-db should be super-simple to integrate.

[2015-04-08 04:43] timfam commented on #6
@hitchcott @Weijtmans  maybe you guys can collaborate to bring localization into Orion, Languages got added but it is still WIP.

[2015-04-08 04:45] rwatts3 commented on #84
Ok sweet , i'll keep working at it too let me know what you find i'll post any solutions or updates here.

[2015-04-08 04:45] rwatts3 commented on #84
Not related to this issue, but I'm trying to assign a class to the label of my entity with autoform. When I assign the class the class get's added to the input field but not the label. Any idea how to do this ?

[2015-04-08 04:49] timfam commented on #84
Add a label
[code]

[2015-04-08 04:50] rwatts3 commented on #84
but i'm doing this from the schema

[code]

[2015-04-08 04:52] rwatts3 commented on #84
Crap I've been looking at this for the past 3 hours, and I finally just went to the simple schema repo and the answer was right in my face I could shoot myself right now.

[2015-04-08 04:53] timfam commented on #84
:) yes happens to everyone

[2015-04-08 05:06] rwatts3 commented on #84
Ok after what seemed like years I finally got this working.

[code]
![image](https://cloud.githubusercontent.com/assets/5336137/7039165/5d835e62-dd72-11e4-8330-d62d607d28ca.png)

[2015-04-08 05:08] timfam commented on #84
Super awesome!

On Wed, Apr 8, 2015 at 1:06 AM, Ryan Watts <notifications@github.com> wrote:

[2015-04-08 05:11] rwatts3 commented on #84
I spoke to @nicolaslopezj  a while back about adding an option to render categories for a pages and he gave me an example in one of my prs from the old repository. Well now that they are all merged I can't go back to see that code sample.

Do you know how this could be done.

I remember the end result was something similar to this.

[code]

where I would attach a category inside the pages registra

[2015-04-08 05:14] timfam commented on #84
yes that should pass the right context to each

On Wed, Apr 8, 2015 at 1:11 AM, Ryan Watts <notifications@github.com> wrote:

[2015-04-08 05:27] rwatts3 commented on #84
ok I just figured it out too. So everything within the pages entity is registered as a helper. So if I did a select dropdown of Navigation items or parents, I can pass nav="Main" and any pages within the main navigation will render.

[2015-04-08 07:46] mraak opened #85 "Integrate alanning:meteor-roles for permissions and roles"
Since this was mentioned so many times in various places maybe it's best to have its own ticket. At least we can better track the progress this way.

https://github.com/alanning/meteor-roles

[2015-04-08 09:23] kevohagan opened #86 "views for pages and files should go into bootstrap"
Im not sure what the best way is for this , but i guess the views for pages and files should go into a separate package for easy overriding.

Any thoughts on this?

[2015-04-08 15:05] nicolaslopezj commented on #86
Package is not the same as repo. Packages did not change, you can still override only the bootstrap package

[2015-04-08 15:06] #83 closed

[2015-04-08 15:15] kevohagan commented on #86
@nicolaslopezj but in the pages packages the views are defined there  ( adminPagesCreate, adminPagesDelete, etc etc ) if i override the bootstrap package it doesnt override these templates obviously, i cand overrride manually with template extension but it feels hacky.

Im sure there could be a better way for this no?

[2015-04-08 15:16] timfam commented on #86
I think the two pf you are saying different things, @kevohagan was asking how to override templates

[2015-04-08 15:17] timfam commented on #86
@kevohagan we fix this issue for entities but not pages.

[2015-04-08 15:18] nicolaslopezj commented on #86
Oh, you can't override templates. What you can do is use the new app that @timfam made for custom templates or clone the bootstrap repo

[2015-04-08 15:28] timfam commented on #85
@mraak reference the other tickets here and we will try to avoid duplicate tickets and discuss roles here for now

[2015-04-08 17:05] kevohagan opened #87 "is pages and relationships (and files) important to be outside of core?"
This is a question.

I am wondering if there is much advantage of keeping pages and relationships outside of core ( same as files), i suppose most people will be using theses anyways?

just starting a discussion here , see what people think :)

[2015-04-08 17:45] nicolaslopezj commented on #87
In 1.0 everything will be in different packages - even entities - and orion:core will install the "default packages".
Pages its not always used, so I don't think it will be in that group.
Relationships isn't either, but it isn't disruptive, Maybe it could be in that group

[2015-04-08 18:21] timfam commented on #87
pages and Relationship should stay out until future needs warrants it. We should try to put as little into core as possible and like @nicolaslopezj core should just install a default set of packages

[2015-04-08 20:15] rwatts3 opened #88 "Question : Custom Admin link"
I know someone mentioned hit it here before but I can't seem to find it in the issues. My question is regarding adding a custom option to the admin panel and rendering a custom template all inside of the admin area.

For example I want to add a option to view page view statistics.
I am creating an extension package for this.  A sidebar item will be added called Statistics . I then want to render a

[2015-04-08 20:25] timfam commented on #88
Besides the doing the necessary permission, login checks, I think you just have to use the admin layout in the router.
[code]
That should do it

[2015-04-08 20:26] rwatts3 commented on #88
Ok k will give this a shot.

[2015-04-08 20:29] timfam commented on #88
There is also a list of templates that core validates login status for
[code]
@nicolaslopezj we need to make this list extensible

[2015-04-08 20:33] rwatts3 commented on #88
Maybe a method in core and have the plugin loop through what's passed to the method as an array

[2015-04-08 20:34] rwatts3 commented on #88
I think a method may already exist I'll see what he says.

[2015-04-08 21:09] timfam commented on #88
I don't there is a method yet, Controllers can be inherited by extending a parent
[code]
However method makes it easier for devs and centralizes a single controller we can improve

[2015-04-09 00:25] timfam opened #89 "Integrate meteor-reactive-css"
What do you guys think of integrating https://github.com/ccorcos/meteor-reactive-css into Orion.
here is a live demo http://reactive-css.meteor.com/  We can use dictionary to allow admin to make css changes and it is reactive
[code]

@ccorcos is the maintainer and I think he will love orion
Your thoughts?

[2015-04-09 00:33] ccorcos commented on #89
that would be a really awesome use of my package!

[2015-04-09 01:31] nicolaslopezj commented on #89
Great!!! I made hacky things in other projects to achieve this.
I think this could be a orion attribute

[2015-04-09 03:19] rwatts3 commented on #62
In Progress
After looking at the code I realized that assigning parents and children is more complicated than proven worthy. Instead I'm adding options called `sideBarGroup` and `sideBarGroupIcon` .

The group name will put the entities under a subnav related to the Group Name.

[2015-04-09 07:37] kevohagan commented on #88
I think telescope does something similar

On Wed, Apr 8, 2015 at 11:09 PM Timothy <notifications@github.com> wrote:

[2015-04-09 08:05] kevohagan commented on #89
i think that would make for a great orion plugin! the ability to override css on custom pages

[2015-04-09 08:07] kevohagan commented on #87
okay perfect! totally makes sense!

[2015-04-09 09:16] mraak commented on #85
https://github.com/orionjs/orion/issues/68
Here's one, can't find the other one any more.

Any ETA on this?

[2015-04-09 10:13] kevohagan opened #90 "started work for markdown editor integration"
So i think froala and summernote are great, but i have a custom template that has speciale styling for html tags and would like to be able to write posts in markdown.

I found this great package : https://atmospherejs.com/d4nyll/epic

and it would be a perfect candidate for a orionjs plugin.

started work here :
https://github.com/kevohagan/orion-epic

dont really know what im doing so any help ap

[2015-04-09 12:17] nicolaslopezj commented on #85
This will come with 1.0. Check the progress here #81

[2015-04-09 12:19] nicolaslopezj commented on #90
Great!

[2015-04-09 20:03] rwatts3 commented on #88
Can Orion Relationships be used to group the entities inside the sidebar. ? This would make relationships a dependency in corps I'm not sure if you want this or not.  But I'm finding it to be easier to build the entity groups using relationships extension.

[2015-04-09 23:00] rwatts3 commented on #90
Nice , I was just thinking the other day that we needed markdown editor.

[2015-04-09 23:03] rwatts3 commented on #84
@timfam
DId you ever figure out how to add tabular to the homepage with orion entities ?

[2015-04-09 23:06] timfam commented on #84
Sorry buddy I'm planning on dealing with that issue this weekend if I can.

[2015-04-09 23:12] timfam commented on #90
@kevohagan I just took a look at the repo so far so good, I will take a closer look later. Good one

[2015-04-10 00:51] nicolaslopezj commented on #88
I don't know how could you do that right now, but in 1.0 you will have the possibility to override templates

[2015-04-10 03:24] rwatts3 commented on #88
Hmm , I think I will hold off on this update until .1.0 .
In the meantime I will hop over to the 1.0 Issue and see what I can contribute to there.

[2015-04-10 05:55] rwatts3 opened #91 "Theme Support"
I was just looking at the Ghost platform , not too long ago to try and get some ideas for areas where we can add features. Something I noticed that a lot of people in the community like is the ability to drop in a theme. We should try to find a way to build themes for Orion. Where we could even create a theme marketplace where users can select themes built by the community then drop it into their

[2015-04-10 05:57] rwatts3 commented on #91
On another note I suppose we could build an api and guide for building apps such as the example-blog then build it into a package. Therefore if the package is added then the theme will be loaded automatically.

[2015-04-10 07:53] kevohagan commented on #90
yeah just copy pasted the stuff from froala and summernote , this should be
easier since there is not file uploading throuhg the editor

On Fri, Apr 10, 2015 at 1:12 AM Timothy <notifications@github.com> wrote:

[2015-04-10 08:16] rwatts3 commented on #90
hmm , I thought in makdown you could paste an image and trigger file upload similar to how github does ?

It would be cool to do this in your package as well.

[2015-04-10 08:44] kevohagan commented on #90
well i know you can put in a img url , dont know about drag and drop image
though .. http://epiceditor.com/

On Fri, Apr 10, 2015 at 10:16 AM Ryan Watts <notifications@github.com>
wrote:

[2015-04-10 16:06] rwatts3 opened #93 "Removing pages from url"
i believe there was an issue created for this before.  Do we have a solution or starting point for removing pages from the url ?

[2015-04-10 16:11] timfam commented on #93
Pages can't be removed just yet but I think it not overly complex to do. I will look into it shortly, I may habe the answer.
Btw and off topic I have been working on grouping menus for both admin and front end.

[2015-04-10 16:12] rwatts3 commented on #93
Thank you I will stand by to see your solution.  Also the grouping menus sounds good.  What is your thought process on the grouping ?

[2015-04-10 22:46] timfam commented on #93
I fixed this and it now uses the name of the template .ie contact/one, faq/pageone
I using redirect for this and you just have to create simple routes
[code]
I will do a PR later but I do like to see If I can make a generator for this routes. So if you are not in rush, I will try and play around this tonight. The solution is still a bit hacky but can be cleaned up later

[2015-04-10 22:51] ryanbuiltthat opened #94 "Create non-restricted entity forms"
Is it possible to create a form to insert an entity from a non-loggedin user? Seems simple but I'm having a helluva time getting it to sync up with autoform.

[2015-04-10 22:56] rwatts3 commented on #93
Nice job man can you paste in the link to the branch you are working on.  Tonight I too will jump in and try to work on the generator.

[2015-04-10 22:56] rwatts3 commented on #93
Btw I use google hangouts so if you ever want to collaborate just shoot me an im

[2015-04-10 22:59] timfam commented on #94
Entities have permission check, I think the best way to achieve this is have a permission/role called guest and allow guest to post that entity. I can look into this and discuss with Nick, can you share your use case  for this requirement?

[2015-04-10 23:01] timfam commented on #93
Great! I did it on local, will fork and push later.

[2015-04-10 23:06] ryanbuiltthat commented on #94
So I have a single page app that's a marketing tool for a service company.
When a rep from the company logs in, they're able to select a few items
from the page, and send a receipt of the selection to a customer. I want to
also have that write to the db which is managed via admins in orion. I've
been working on an extended orion-core but was hoping for a quick way for
this. Essentially if there we

[2015-04-10 23:08] ryanbuiltthat commented on #94
Another use-case would be a simple contact form. Email isn't 100% reliable either because of user issues or system issues....so it seems a pretty standard thing to have a contact form also keep a record of the submission that could be re-sent, tracked, etc......I don't want all those features added, I just want a way to relate a "public" facing form to the admin.

[2015-04-10 23:13] timfam commented on #94
I get it. I have not used orion for contact form I used autoform directly but now that you bring this up, I do like to make it work. I can take a look at it tomorrow, it should be doable without breaking the banks :).

[2015-04-10 23:18] ryanbuiltthat commented on #94
Thanks tim. This was supposed to be a super simple page. But I added a tiny little animated svg check box (from codrops) and when the client saw that they said "hey let's make it so our sales reps can 'check' off items in front of the customer on their ipads and send them their receipt". because yea that is a good use of time...

regardless. I'm working on having the receipts submitted go into the

[2015-04-10 23:20] timfam commented on #94
Get some sleep, it helps I will see what i can do

[2015-04-11 00:46] nicolaslopezj commented on #94
Hi @ryanbuiltthat,
A simple solution for this is to the Meteor.methods

[code]

[code]

[2015-04-11 00:49] timfam commented on #94
Still have to create an entity to view the results securely in admin. He
does not want to bypass db completely like in a simple contact form
On Apr 10, 2015 8:46 PM, "Nicolás López" <notifications@github.com> wrote:

[2015-04-11 00:51] nicolaslopezj commented on #93
I think that registering the routes after all the other works, I haven't tested but maybe doing this could work:

[code]

If this works, it will come with 1.0 #81

[2015-04-11 00:54] nicolaslopezj commented on #94
"```yourentity```" would be the entity in this case

[2015-04-11 00:59] ryanbuiltthat commented on #94
Ahh the orion schema naming is where I was stuck. I had the autoform but it
didn't like any of the hackery I was doing and kept telling me I needed to
define a schema.

The permission model works well out of the box for this project as I want
admins to see all but only want users to see entities they've created.

Taking what was supposed to be a WordPress site and turning it into a
hyper-light web

[2015-04-11 01:03] timfam commented on #94
Sorry I spoke too soon. The code is referencing an existing entity. That
needs to go into the entity tutorial.
On Apr 10, 2015 8:54 PM, "Nicolás López" <notifications@github.com> wrote:

[2015-04-11 01:15] timfam commented on #93
Yes that works, no need for a generator and @nicolaslopezj can you simply remove
[code]

[2015-04-11 01:16] timfam commented on #93
https://github.com/orionjs/orion/blob/master/pages/lib/routes.js line 39

[2015-04-11 01:53] timfam commented on #94
Just added that to the tutorial

[2015-04-11 16:07] ryanbuiltthat commented on #94
In your tutorial you mention creating a js file for the quickform. Am I correct in that that is where the quickform handlebars should go? In the js file?

[2015-04-11 17:57] ryanbuiltthat commented on #94
Had to make a few adjustments in order to get this tutorial to work...using contacts as the collection here:

- Added two new templates in the `client/view/contacts` folder.
- `guestContact.html` & `updateContact.html`
- added a js file to the `view/contacts` folder with this line:
`Template.registerHelper("guestReceiptsCreate", orion.entities.contacts)`
- Subscribed to contacts in my home route (

[2015-04-11 18:15] ryanbuiltthat commented on #94
Had to make a few adjustments in order to get this tutorial to work...using contacts as the collection here:

* Added two new templates in the `client/view/contacts` folder.
    * `guestContactCreate.html` & `guestContactUpdateDefault.html`
* added a js file to the `view/contacts` folder with this line:
    * `Template.registerHelper("guestContactCreate", orion.entities.contacts)`
* Subscribed to

[2015-04-11 18:21] timfam commented on #94
Thanks for the detailed feedback, yesterday was a long day and I tutorials
always have room for improvements so I will update as soon as you have it
working. I should setup a local instance and try getting it to work. This
is very important contribs if orion I'd to support surveys out of the box
On Apr 11, 2015 2:15 PM, "Ryan Harris" <notifications@github.com> wrote:

[2015-04-11 18:24] rwatts3 commented on #94
@timfam. I have nitrous.io and IntelliJ.  At my office our developers collaborate on IntelliJ by adding each other.  And we can see specific points in code.  If you don't have IntelliJ nitrous.io allows the same collaboration.  It would be cool if we could use this to work together on solutions and help the community in questions like  this.

Let me know your thoughts

[2015-04-11 18:30] ryanbuiltthat commented on #94
What is really awesome is I have not only this working, but my whole project is almost complete. I'm just adding bells and whistles like PDF export of a doc, letting a user customize various aspects of their UI, etc. I really am impressed with orion, I still have a need to decouple the back from the front but that's on the schedule for monday!

I think what could be of great benefit is a detailed

[2015-04-11 18:41] rwatts3 commented on #94
@nicolaslopezj
Is currently working on v1.0 where the admin area will be built into a simple-theme , He will provide documentation on how to build any admin layout you want. This is probably one of the most beneficial things that you can use , so if you can hold off until 1.0 you will be able to build the admin area any way you'd like.

[2015-04-11 18:45] ryanbuiltthat commented on #94
Music to my ears!!!

On Sat, Apr 11, 2015 at 2:41 PM, Ryan Watts <notifications@github.com>
wrote:

[2015-04-11 18:52] timfam commented on #94
Yes good idea to wait.
On Apr 11, 2015 2:41 PM, "Ryan Watts" <notifications@github.com> wrote:

[2015-04-11 18:56] timfam commented on #94
We setup etherpad at orionjs.org for collaboration we will soon add it to
the docs.
On Apr 11, 2015 2:52 PM, "Timothy Anyasi" <tim.anyasi@gmail.com> wrote:

[2015-04-11 20:18] rwatts3 commented on #94
Nice work @timfam

[2015-04-12 02:43] rwatts3 commented on #93
Has the update been pushed yet ?

[2015-04-12 03:38] rwatts3 opened #95 "How to get the current user."
What is the best way to get the current logged in users name.
I am currently exploring `orion.users` but I can't find where to grab the current users name.

[2015-04-12 21:46] rwatts3 opened #96 "Created Project to Provide Native Cordova Integration"
I am working on a project to provide native cordova notifications to Orion.
For instance the first integration is Cordova Native Notifications. The user will define an entity called `notifications` . When they create a new notification they will be able to send Android / IOS notifications directly to the device from their app.

This repository is just the start of many of the Cordova items I will

[2015-04-12 22:36] nicolaslopezj commented on #96
@rwatts3 that's awesome!

[2015-04-12 23:15] timfam commented on #96
Super awesome!
On Apr 12, 2015 5:46 PM, "Ryan Watts" <notifications@github.com> wrote:

[2015-04-13 10:39] kevohagan commented on #96
That seem great! :)

On Mon, Apr 13, 2015 at 1:15 AM Timothy <notifications@github.com> wrote:

[2015-04-13 16:53] timfam commented on #23
@semikolon what we need is an adaption of dburles:factory and anti:fake (use this fork https://github.com/pociej/meteor-fake) for seeding data into Orion. This is a more general solution.

[2015-04-13 17:20] rwatts3 commented on #23
Why not just set a conditional on the dictionary.  Then set the dictionaries value in the code.  The conditional can check if the dictionary currently has a value.  If it doesn't then it will set the value.

[2015-04-13 17:20] rwatts3 commented on #23
The dictionary comes with a better and a setter.

[2015-04-13 17:25] timfam commented on #23
You are right. I was speaking generically,  maybe useful to orion is a
seeder for various content. Factory does a good job of that.
On Apr 13, 2015 1:20 PM, "Ryan Watts" <notifications@github.com> wrote:

[2015-04-13 18:33] hugo665 opened #97 "Array of file attributes in a dictionary"
Hi,

I was wondering if there is a way to set an array in a dictionary like doing in an entity

For example:

[code]

Is there a way to create an array of file attributes in a dictionary?

Thank you in advance.

BR

[2015-04-13 18:54] nicolaslopezj commented on #97
Yes, there is a way.

[code]

[2015-04-13 19:05] hugo665 commented on #97
Thank you and btw great work!

[2015-04-13 19:26] nicolaslopezj commented on #97
Thanks

[2015-04-13 19:26] #97 closed

[2015-04-13 20:03] rwatts3 commented on #23
Also a side note.  But I have been using placeholders.  To as a memo or example of what content can go into the newly created dictionary.  I know this is desperate from the original question.  But thought it would be helpful.

[2015-04-13 20:04] rwatts3 commented on #23
Another note.  I got tool tips to work with autoform.  I am writing a tutorial on how to add and use tool tips.

[2015-04-13 20:05] nicolaslopezj commented on #23
That's great @rwatts3

[2015-04-13 20:06] rwatts3 commented on #23
Ps sorry for the typos.  Typing from iPhone doesn't work as well.

[2015-04-13 20:07] timfam commented on #23
Awesome!
On Apr 13, 2015 4:05 PM, "Nicolás López" <notifications@github.com> wrote:

[2015-04-13 20:08] timfam commented on #23
Welcome to the club of mobile phone editing lol. In same both.
On Apr 13, 2015 4:07 PM, "Timothy Anyasi" <tim.anyasi@gmail.com> wrote:

[2015-04-13 21:06] nicolaslopezj commented on #95
The name is in ```profile.name```

[2015-04-13 23:44] rwatts3 commented on #95
So would this be `orion.users.profile.name` ?

[2015-04-14 00:08] timfam commented on #23
Updated tutorial with howto seed content

[2015-04-14 00:34] rwatts3 commented on #23
Nice @timfam

[2015-04-14 02:18] loongmxbt opened #98 "Use relationships in collection"
In my `lib/collections/topics.js`

[code]

In `entities/category.js`
[code]

The error shows `TypeError: Cannot read property 'collection' of undefined`. But in `orion/entites/posts.js`, I write the similar, it works fine. How to fix it? Thanks!
[code]

[2015-04-14 02:42] nicolaslopezj commented on #95
Like this
[code]

[2015-04-14 02:45] nicolaslopezj commented on #98
Hm, I haven't tests attributes in non-entity collections.
Remember that you must define the parent collection before attaching the schema, maybe thats the problem.

[2015-04-14 03:10] rwatts3 commented on #95
Ah I see ,

Thanks for looking into that.

[2015-04-14 03:10] #95 closed

[2015-04-14 03:19] nicolaslopezj commented on #91
Thats a good idea, we need to figure out how to add templates dynamically

[2015-04-14 03:19] #88 closed

[2015-04-14 04:27] rwatts3 commented on #91
Yeah maybe passing a theme id , or passing a theme name would allow it to pull everything from that folder as a theme. This could be something for the future, I think with 1.0 and 1.0 api this could easily be implemented at a later time.

[2015-04-14 04:27] rwatts3 commented on #91
BTW I like how the updates to `1.0` will completely leave `Ghost` cms in the dust.

[2015-04-14 08:04] kevohagan commented on #90
hey @nicolaslopezj @timfam @rwatts3 , just updated the package now seems to work fine!

let me know what you think! :)

[2015-04-14 09:32] loongmxbt commented on #98
Yeah, if I move `orion.addEntity('topicCategories', {})` in front of `TopicSchema = new SimpleSchema({})` that would work. This is a js file loading order problem.

`lib/collections/topics.js` loads in front of `orion/entities/categories.js`. I combine the two folders into one.

But collections/ still load in front of entities/ folder. How to rename the folder better?

[2015-04-14 12:33] nicolaslopezj commented on #98
You can create a file ```lib/collections.js``` with only the declaration of the collection:
[code]
And everything else as you had it early

[2015-04-14 12:58] jorisroling opened #99 "Relations & sort order"
How kan I specify the sort order of the items in the dropdownlist of a relation field?

[2015-04-14 13:16] timfam commented on #90
Ok I will give a try soon, nice one!

[2015-04-15 03:49] vonwao commented on #91
@rwatts3  yes, but I thought the whole point of ghost is that they don't want to be a CMS, just a blogging platform.  What I like about Orion is that it has the potential to create sophisticated, rich apps.  It's kind of like Rails but simpler.

I do like the idea of "drop in" theme support.  And how about other Wordpress style plugins?  I think a big problem with Wordpress is all the fragmentatio

[2015-04-15 03:53] timfam commented on #91
right on the money. I promise you orion will not be messy

On 4/14/15, vonwao <notifications@github.com> wrote:

[2015-04-15 04:06] rwatts3 commented on #91
@vonwao
You are correct. There are a lot of features about Ghost that I simply do not like. Which is why I appreciate Orion as much as I do. With that being said my biggest point , is that drop in themes would be really cool. But in a way we already do this with Orion.

With the new Orioni Site that @nicolaslopezj is building , the api for the new site and the example blog will provide a template

[2015-04-15 04:23] timfam commented on #91
@rwatts3 That theme structure is the end goal, It should be possible to use two separate themes for an app, an Admin and a front-end. Admin is heavy, so it should restricted to admin/*.

[2015-04-15 04:25] rwatts3 commented on #91
Alright, I suppose I should wait for 1.0 it seems like all of these thoughts are already being built.

[2015-04-15 05:43] rwatts3 opened #101 "1.0 Contribution"
Hi @nicolaslopezj ,

I am trying to contribute to 1.0 either helping or beta testing. When I cloned the 1.0 branch I can't seem to get it working any advice on setup ?

I cloned the 1.0 example-blog , and cloned the 1.0 packages directory into the example-blog.

[2015-04-15 05:46] nicolaslopezj commented on #101
Example blog need to be updated too. Tomorrow I will specify instructions for beta testers

[2015-04-15 05:56] rwatts3 commented on #101
Very well,

Thank you for the update.

[2015-04-15 06:03] nicolaslopezj commented on #101
In the meantime you can test nicolaslopezj/reactive-templates, the package that orion 1.0 uses to allow developers to override templates

[2015-04-15 06:32] rwatts3 opened #102 "Users Attribute possible Extension to Custom Selections"
I like how the users attribute allows you to select multiple users.
Is it possible to use this attribute to select multiple values of a different entity.
For instance if I have an entity of events , I want to attach multiple venues the same way users do.
Can I do this with the users-attribute , or is there a way to extend the users attribute so that I can pass in my own field to select multiple va

[2015-04-15 06:34] nicolaslopezj commented on #102
Try with orionjs:relationships

[2015-04-15 06:35] rwatts3 commented on #102
Will it render the same autoform field as users does. Like the dropdown, and the item with an x next to it ?

[2015-04-15 06:36] nicolaslopezj commented on #102
Yes

[2015-04-15 06:37] rwatts3 commented on #102
Perfect !

I will give this a shot thank you.

[2015-04-15 06:37] #102 closed

[2015-04-15 08:28] #98 closed

[2015-04-15 16:22] zaklampert opened #103 "trying to install - "s is not defined""
Trying to create a test app to test out your project. I believe I followed the documentation for setup correctly

In a new meteor project I have installed
[code]
I run "meteor" and  when I view /admin I get a client console error "Uncaught Reference Error: s is not defined"  in file helpers.coffee:4

When I try to create the first user, the console (client) spits out

[code]
Is there more setup re

[2015-04-15 16:23] timfam commented on #103
Just give me a minute to look into this, I suppose coffee file must have come from my PR

[2015-04-15 16:27] timfam commented on #103
I can't find a single coffee file in the packages. Hold I will do new install. Btw a new version will be out pretty soon. It will be breaking change from present

[2015-04-15 16:28] zaklampert commented on #103
Is there an older version I should try in the meantime? Just wanting to poke around.

[2015-04-15 16:29] timfam commented on #103
this is the older version. I am do brand new install give me a few minutes

[2015-04-15 16:38] timfam commented on #103
Error is from an external dependant package becuase a route is not yet setup.
[code]
We have a example blog distribution you can play around with for now https://github.com/orionjs/example-blog enjoy and give us your feedback we here if you have questions

[2015-04-15 16:40] zaklampert commented on #103
Does that mean I just need to create a "/" route?

[2015-04-15 16:44] timfam commented on #103
The blog is the best place to start, it is the perfect intro to orionjs

[2015-04-15 16:47] zaklampert commented on #103
Great, thanks for your help.

Let's say I'm wanting to start from scratch eventually. Is this something that can be fixed?

[2015-04-15 16:49] nicolaslopezj commented on #103
@zaklampert we need more information about this error to get this fixed.
I have never seen this error.

[2015-04-15 16:50] zaklampert commented on #103
@nicolaslopezj I was just attempting to create a blank project from scratch. I added the packages as shown. Is there more setup needed? Obviously I will need to create entities, etc, but I got that error just by trying to create the first admin user.

[2015-04-15 16:52] rwatts3 commented on #103
Like @timfam said I would clone the blog then take out what you don't need.

[2015-04-15 16:52] timfam commented on #103
@zaklampert  this version will soon be deprecated. Lets save energy for main release.

[2015-04-15 16:53] zaklampert commented on #103
Great, thanks all.

[2015-04-15 16:53] #103 closed

[2015-04-15 17:04] vonwao opened #104 "Server rendered pages"
What's the story of Meteor and Orion around server rendered pages (or routes)?  It looks like, on any page render it will pretty much require downloading the meteor stack including a bunch of packages, and wait for DDP connection to come up.  If someone is browsing a site on their mobile phone on a bad network, I think this would be really slow.  Also server rendered pages could be good for SEO.

[2015-04-15 17:19] timfam commented on #104
Fast-render is a performance tweak that should become best practice so for the front facing routes yes sure we should use it.

[2015-04-16 01:58] loongmxbt opened #106 "Is there a direct path for user create at client side?"
I've searched `orion/core/users/accounts-templates.js` and cannot find a path such as `/signup`. I can create a user by `/login` and hit the register link, the url doesn't change. So how to directly enter the register path and template?

[code]

[2015-04-16 04:24] nicolaslopezj commented on #106
You can use this
[code]

[2015-04-16 08:59] kevohagan commented on #103
this error is from zimme:iron-router-active package

its resolved now in the package

https://github.com/zimme/meteor-iron-router-active/issues/18

[2015-04-16 10:45] SICCVI opened #107 "Blank page after the creation of the administrator"
Hello,

I test Orion following the installation procedure. After creating my first user, I am facing a blank page. Tested on Chrome and Firefox.

[Update] Note: In a first connection with a browser other than the one used to create the admin account, the sign-in page (http://192.168.1.16:3000/admin/change-password) is proposed. But after entering the password, the page freezes. After reactualizati

[2015-04-16 13:12] nicolaslopezj commented on #107
Hi, can you provide the logs?

[2015-04-16 13:53] SICCVI commented on #107
Hi Nicolas,

Sorry but where i can find them ?

[2015-04-16 13:54] nicolaslopezj commented on #107
In the inspector of your browser

[2015-04-16 14:22] SICCVI commented on #107
Log Chrome
--------------------

1) Uncaught ReferenceError: s is not defined

isActive = (type, inverse = false) ->
  name = 'is'
  name = name + 'Not' if inverse
  name = name + 'Active' + s.capitalize type   <-------------helpers.coffee:4

  (view) ->
    unless view instanceof Spacebars.kw
      throw new Error "#{name} options must be key value pair such " +
        "as {{#{name} regex='route

[2015-04-16 14:30] kevohagan commented on #107
@nicolaslopezj you need to update the dependency of zimme:iron-router-active from 1.0.0  to 1.0.4
in core

[2015-04-16 14:33] #107 closed

[2015-04-16 14:34] nicolaslopezj commented on #107
Thanks @kevohagan

[2015-04-16 14:49] SICCVI commented on #107
merci! Je comprends que vous avez trouvé la solution; mais comment puis je l'appliquer de mon côté ? Je débute avec l'ecosysteme node.js.

[2015-04-16 18:51] nicolaslopezj commented on #107
run ```meteor update```

[2015-04-17 09:27] SICCVI commented on #107
Thank you, it's simple .... but it still does not work. Same errors reported in the console.
Always blank page after creating the admin account. By testing in a private session (chrome, firefox) I am routed to http://192.168.1.16:3000/admin/dictionary that displays the login page. When I click on sign in, nothing happens.

Uncaught ReferenceError: s is not defined
debug.js:41
Exception from Tracke

[2015-04-17 09:29] rwatts3 commented on #107
Hello @SICCVI I'm sorry you are still having this issue. If you could give me about 15 minutes I will upload a full working copy for you to clone and start hacking away.

[2015-04-17 09:29] rwatts3 commented on #107
Please note that `v1.0` is still in beta, and the full functionality has not been completed, but @nicolaslopezj is working on the release and the full release will be available soon, but for the time being i'll upload the beta for you to work with for now.

[2015-04-17 09:46] SICCVI commented on #107
You are hyperactive, thank you. No problem, take the necessary time. I stay listening. I would like to help but I feel completely dumped by Node.js

[2015-04-17 09:48] rwatts3 opened #108 "Example Blog | Orion v1.0 Beta Working Example"
Here is a link to a repository with a fully working example for Orion v1.0 beta testers.
I have already taken care of pulling in the v1.0 packages , and updating the example to work with the new package examples.

For anyone wanting to do beta testing . simply clone this repo , and fire up meteor.
https://github.com/rwatts3/example-blog-v1.0-beta

[2015-04-17 09:48] rwatts3 commented on #107
Alright @SICCVI take a look at this issue.
For anyone else having issues getting the example blog v1.0 beta working simply clone this repository and fire away.

#108

https://github.com/rwatts3/example-blog-v1.0-beta

[2015-04-17 10:02] SICCVI commented on #107
Thanks very much!!

[2015-04-17 10:04] rwatts3 commented on #107
No problem. Let me know if you need any help.  In the meantime I'm going to get some shut eye it's 3 AM here :)

[2015-04-17 11:55] SICCVI commented on #107
Ok thanks, Fais un gros dodo ...

[2015-04-17 12:47] timfam commented on #108
Thanks buddy
On Apr 17, 2015 5:48 AM, "Ryan Watts" <notifications@github.com> wrote:

[2015-04-18 02:35] rwatts3 opened #109 "Gitter.im for open discussion for Orion"
I just came across <http://gitter.im> in a repository I was researching on atmospherejs.com . I believe this would be a cool place, to have open discussions, about the project without cluttering the issues. Then if a discussion comes up that should be mentioned in the actual repo, we could refer the person to the repository to create an issue. I believe gitter.im also allows you to go directly to

[2015-04-18 02:50] timfam commented on #109
I discussed chat with Nick a while back and we are thinking of either irc
plus etherpad. Meteor has an irc channel maybe we should piggyback on that.
On Apr 17, 2015 10:35 PM, "Ryan Watts" <notifications@github.com> wrote:

[2015-04-18 03:00] rwatts3 commented on #109
Yeah I remember the discussion on about etherpad. Mind if I ask the why not gitter.im , trying to see if there is any underlying issues or dislikes before I start using it on other repos.

[2015-04-18 17:06] timfam commented on #109
Never tried it maybe more modern than freenode  irc. The thing to note
though is majority of opensource projects use irc and meteor does too.
Again gitter is paid right?
On Apr 17, 2015 11:00 PM, "Ryan Watts" <notifications@github.com> wrote:

[2015-04-18 17:09] rwatts3 commented on #109
No gitter is free for public chats and 25 members for private discussions . So only 25 in a private discussion which I never see if hitting that limit for s private discussion.  Most of the discussions are on the issue system here and they're all public .

The pro version has the exact same settings except you get unlimited private users in a discussion.  And it's $5

[2015-04-18 17:12] timfam commented on #109
Okay then setup a room and let's start collabNation :)
On Apr 18, 2015 1:09 PM, "Ryan Watts" <notifications@github.com> wrote:

[2015-04-18 19:36] rwatts3 opened #111 "v1.0 API Documentation"
## v1.0 API Documentation

This issue is for tracking and logging v1.0 api documentation. A pull request will be submitted for each component once documentation is complete and ready for review.

`TODO`
- [x] `accounts`
- [x] `attributes`
- [x] `base`
- [x] `collections`
- [x] `config`
- [x] `core`
- [x] `dictionary`
- [x] `file-attribute`
- [x] `filesystem`
- [x] `froala`
- [x] `relationships`
-

[2015-04-20 11:47] ahmetcetin opened #112 "Error in the first setup"
I'm using Meteor 1.2.2. I tried to install orion bootstrap as described locally on my mac. After creating a new meteor app, and cleaning the sample files of meteor, here what I've done:

1. meteor add orionjs:bootstrap
2. meteor add twbs:bootstrap
3. meteor add fort awesome:fontawesome

After running meteor, and navigating to /admin, it redirects to /admin/setup, and it shows the following error i

[2015-04-20 11:58] ahmetcetin commented on #112
btw, if it helps, when I run meteor first time after installing orion, it shows these lines after App running message in the command prompt:

I20150420-13:26:24.537(2)? Orion config initialized.
I20150420-13:26:24.539(2)? Dictionary initialized.

[2015-04-20 12:56] nicolaslopezj commented on #112
This seems to be an error with ```zimme:iron-router-active```.
Try doing ```meteor add zimme:iron-router-active``` and meteor update.

[2015-04-20 22:03] jeremyhodges opened #113 "Meteor Crashes After Trying to Add OrionJS Relationship"
[code]

[code]

[2015-04-21 10:11] ahmetcetin commented on #112
Thanks, I've done and now it shows change password screen, but I cannot see other parts of the admin screen, like dictionary, entity, etc.
![screenshot_21_04_15_12_09](https://cloud.githubusercontent.com/assets/5046786/7250070/61eb711c-e81f-11e4-96ef-e9ea0dd3dba4.png)
I already added all packages installed by orion one by one and run meteor update, but didn't help. In the console I see this:
![dev

[2015-04-21 14:49] nicolaslopezj commented on #112
You must declare the entities and the dictionary first

[2015-04-21 14:51] nicolaslopezj commented on #113
The child collection must be defined after the parent

[2015-04-21 14:51] #109 closed

[2015-04-21 14:53] #72 closed

[2015-04-21 14:53] #101 closed

[2015-04-21 14:53] #106 closed

[2015-04-21 14:54] #94 closed

[2015-04-21 14:54] timfam commented on #112
Take a look at the posts entity in the example blog
On Apr 21, 2015 10:49 AM, "Nicolás López" <notifications@github.com> wrote:

[2015-04-21 20:30] rwatts3 opened #114 "Update Pages to be 1.0 compatible."
## Update Pages to be 1.0 compatible.

`TODO`
- [x] Update logic to follow new collection logic.
- [x] Update templates to follow simple-theme format.
- [x] Improve page template logic.
- [x] Test for compatibility in 1.0 environment.

[2015-04-21 23:08] jeremyhodges commented on #113
@nicolaslopezj I am super new to Meteor. How is this usually handled? Just in the file naming convention of the JavaScript files my entities are created in?

[2015-04-21 23:14] rwatts3 commented on #113
@jeremyhodges
change `entity` to `collection` and pass the collection as an object without the `strings`

[code]

[2015-04-21 23:20] jeremyhodges commented on #113
@rwatts3 That that gives me an error about 'students' being undefined. If I rename my donations.js file to z_donations.js so it comes after students.js it seems to work. Issue now is my "name" in students is an object consisting of name.first and name.last so the dropdown in the admin is blank.

[2015-04-21 23:24] rwatts3 commented on #113
Try using numbers.
1donations
2students

[2015-04-21 23:24] rwatts3 commented on #113
do you have a repo I can clone to further assist ?

[2015-04-21 23:33] jeremyhodges commented on #113
@rwatts3 Sure thing! https://github.com/jeremyhodges/flaming-ninja

I'm also having another strange issue with my entities randomly disappearing from the admin.

[2015-04-21 23:36] rwatts3 commented on #113
Ok give me a few hours I'll be back online shortly.  Also join the chat here

https://github.com/orionjs/orion

And I'll help you work through the issues.

[2015-04-22 16:18] rwatts3 opened #115 "MongoDB Aggregation for Increased Performance"
## Discussion for integrating MongoDB Aggregation

[2015-04-23 01:55] ccorcos commented on #89
Holy crap people:

http://tympanus.net/Development/InteractiveColoringConcept/

[2015-04-23 02:51] timfam commented on #89
I say holy crap too, that is super awesome!!!

[2015-04-23 07:30] kevohagan commented on #89
Yes i saw that yesterday! and thought straight of reactive-css!! :)

On Thu, Apr 23, 2015 at 4:51 AM Timothy <notifications@github.com> wrote:

[2015-04-23 08:16] ahmetcetin commented on #112
Thank you guys! The example blog project helped me a lot for kick-off.

[2015-04-23 08:16] #112 closed

[2015-04-24 09:20] loongmxbt commented on #8
Will Orionjs v1.0 include the local filesystem feature? The current implementation has no delete method and every time I upload an image, the page will automatically refresh and then display the right image.

[2015-04-24 11:46] loongmxbt commented on #8
Just now I made a package that includes delete method. But the code is not so good-looking. After all it works. Hope it's helpful for the release of official local filesystem package.

https://gist.github.com/loongmxbt/da2b361785ca6f9ad574

[2015-04-25 14:10] mraak opened #118 "example blog: error: unknown package in top-level dependencies: orionjs:froala"
Trying to run v1.0, any idea why I'm getting this?

[2015-04-26 12:48] mraak commented on #104
This is a must for any serious, commercial website. SEO is hampered a lot if you wait for JS to populate pages.

[2015-04-26 12:49] mraak commented on #118
Is there at least a workaround?

[2015-04-26 12:51] mraak commented on #115
Good point. I've done it before but not with Meteor.

[2015-04-26 19:08] timfam commented on #118
simply remove that package from the .meteor/packages file

[2015-04-26 19:11] timfam commented on #118
That error should not exist if you downloaded and added v1.0 of orion all the packages are there. @mraak did you do this?

[2015-04-27 10:10] mraak commented on #118
I followed the instructions given by you in this thread: https://github.com/orionjs/orion/pull/81.

"everything is in there just download and run"

So this is what I did:

~/Projects/Code/orionjs → git clone https://github.com/orionjs/example-blog.git
Cloning into 'example-blog'...
remote: Counting objects: 395, done.
remote: Total 395 (delta 0), reused 0 (delta 0), pack-reused 395
Receiving objec

[2015-04-27 12:01] nicolaslopezj commented on #118
@mraak You must put the packages in the packages folder because orion 1.0 is not on atmosphere.
You must download the #81 branch and put all the packages in the packages folder of your app.

Look how @rwatts3 did it here https://github.com/rwatts3/example-blog-v1.0-beta

[2015-04-27 13:08] vonwao opened #119 "Telescope and Orion"
Has anyone looked at how to possibly integrate Orion with Telescope? (point the telescope towards Orion, lol).

You may ask "why", I'm building a community-based platform and instead of reinventing the wheel I would rather just reuse some of that Telescope code.  What I imagine is replace the security, user, permission system of telescope with Orion's, because I want the nice configurable admin pa

[2015-04-27 13:11] #119 closed

[2015-04-27 17:36] rwatts3 commented on #118
I will update the beta repo tonight with the latest updates from the 1.0 branch.  Keep in mind 1.0 is in final testing and will launch soon.

[2015-04-27 17:47] mraak commented on #118
@rwatts3 So in your example-blog-beta, there's no need to manually copy packages?

[2015-04-27 17:48] rwatts3 commented on #118
Correct.  If you look at the repo you will see the packages are already there.

[2015-04-27 17:49] mraak commented on #118
Ok, also great to hear 1.0 is nearly ready, any ETA?

[2015-04-27 19:59] mraak commented on #104
At least to fix the SEO part, this package could help: https://atmospherejs.com/meteor/spiderable

[2015-04-27 20:04] nicolaslopezj commented on #104
Orion is compatible with spiderable

[2015-04-27 20:48] timfam commented on #104
I think we should add that to example blog
On Apr 27, 2015 4:04 PM, "Nicolás López" <notifications@github.com> wrote:

[2015-04-27 21:19] nicolaslopezj commented on #104
You only have to add the package, nothing else

[2015-04-27 23:49] timfam commented on #119
@vonwao point the telescope team to Orion and sell  them on the benefit, be an Orion evangelist :)

[2015-04-27 23:50] timfam commented on #115
We will use this in one of the apps we build to showcase Orion and i will do a tutorial on how to use.

[2015-04-28 03:50] vonwao commented on #119
Yes, good idea :)  I decided to delete/close this issue for now because I thought I should do some more research on this for now and not introduce too much noise into the issues with new ideas.

[2015-04-28 04:14] rwatts3 commented on #118
Orion v1.0 is now released. follow the documentation at [orionjs.org](http://orionjs.org/docs)

[2015-04-28 04:14] #118 closed

[2015-04-28 04:47] rwatts3 opened #120 "Update individual package README.md files"

[2015-04-28 05:52] xumx opened #121 "orionjs:accounts has not been published"
https://atmospherejs.com/orionjs

missed out one package.

can't update orionjs:core to 1.0.0 because of this.

[2015-04-28 06:08] nicolaslopezj commented on #121
Thanks for that, now its fixed. Please test and close this issue if it works.

[2015-04-28 07:39] mraak opened #122 "Migrating collections?"
Say I want to rename my Companies into Organizations and add / remove some fields.

[2015-04-28 13:25] mraak opened #123 "Recursive schemas?"
Congrats on v1 it's really looking good, now I can get back to my ideas :) One of which is to add "Organization" entity/schema so that every Organization can have:

- owner
- admins
- members
- sub organizations -> This is where I was trying to do a recursive schema but getting some errors.

Below is the code, and here is the fork (v1.0 branch). https://github.com/mraak/example-blog-orgs

I'm gett

[2015-04-28 13:59] timfam commented on #122
Create a new company collection then insert only the new fields

[2015-04-28 14:20] SICCVI opened #124 "there's no route on the client or the server for url"
Hi,

First of all thank you for all your work and Orion in version 1.0. So I just installed it and I have this message:

Orion is installed on a vm ubuntu server.

Thanks

[2015-04-28 15:14] timfam commented on #124
You have to use the example-blog to get a working front end or implement yours orionjs server packages only add admin/backend for you

[2015-04-28 15:14] #124 closed

[2015-04-28 15:15] timfam commented on #121
tested and appears resolved

[2015-04-28 15:15] #121 closed

[2015-04-28 15:33] #114 closed

[2015-04-28 15:34] #113 closed

[2015-04-28 15:34] #111 closed

[2015-04-28 15:36] nicolaslopezj commented on #99
You must take a look at how to do it with selectize. Maybe we should add some extra options to the relationships attributes.

[2015-04-28 15:36] #96 closed

[2015-04-28 15:37] #93 closed

[2015-04-28 15:37] nicolaslopezj commented on #90
How is this going?

[2015-04-28 15:37] #87 closed

[2015-04-28 15:37] #86 closed

[2015-04-28 15:37] #85 closed

[2015-04-28 15:37] #84 closed

[2015-04-28 15:42] timfam commented on #90
I think he is done, we just need it presented as tested package for v10. @kevohagan test and confirm it works with v1.0

[2015-04-28 15:42] #76 closed

[2015-04-28 15:42] #73 closed

[2015-04-28 15:42] #71 closed

[2015-04-28 15:42] #69 closed

[2015-04-28 15:43] #68 closed

[2015-04-28 15:43] #63 closed

[2015-04-28 15:43] #57 closed

[2015-04-28 15:44] #60 closed

[2015-04-28 15:44] #59 closed

[2015-04-28 15:45] #54 closed

[2015-04-28 15:45] #51 closed

[2015-04-28 15:45] #23 closed

[2015-04-28 15:45] #41 closed

[2015-04-28 15:46] nicolaslopezj commented on #90
Ok, I wanted a markdown editor. I hope it can be released soon

[2015-04-28 15:54] nicolaslopezj commented on #8
https://github.com/lc3t35/orion-filesystem-local

[2015-04-28 15:54] #8 closed

[2015-04-28 15:56] kevohagan commented on #90
hey guys! yes i havent touched it since i was waiting for 1.0 to get my
hands dirty. There shouldnt be any breaking changes i guess. Anyway it was
not totally finished, it needed a bit more work to be fully released.
ETA : a few days

Awesome job on 1.0 im sure@

On Tue, Apr 28, 2015 at 5:46 PM Nicolás López <notifications@github.com>
wrote:

[2015-04-28 15:57] nicolaslopezj commented on #62
This is the same as #52

[2015-04-28 15:57] #62 closed

[2015-04-28 15:57] #67 closed

[2015-04-28 15:59] nicolaslopezj commented on #115
This is great as a tutorial. I will close the issue because its related on how you use orion, but not with the orion core code

[2015-04-28 15:59] #115 closed

[2015-04-28 16:00] nicolaslopezj commented on #122
Please provide more details @mraak

[2015-04-28 16:01] nicolaslopezj commented on #123
I don't know if this is possible, haven't tested, but it could be possible.
Can you share the error?

[2015-04-28 17:41] SICCVI commented on #124
Ok ok Thanks

[2015-04-29 06:25] rwatts3 opened #126 "Email Support"
## Add Email Support to Orion

- [ ] Provide email global settings in config.
- [ ] Provide collection for sending emails, allowing sender to select a user from a `users` relationship
- [ ] Create api documentation .
- [ ] Create package tests.

[2015-04-29 11:17] jdivy opened #127 "Materialize date input broken"
I cranked up a demo project and used a date field when defining my schema like so:

[code]

The result is an unresponsive date input on the create form.  I'm not entirely sure whether this is an issue to be solved inside `orion` or `AutoForm`, and I didn't have too much time to dig deeper, but I did find a round-about way of fixing the issue by adding the following code to the client side:

[code]

[2015-04-29 11:54] ryanbuiltthat opened #128 "Collection attribute button in index view"
I may be just hallucinating but I thought I saw somewhere in the previous docs where we could add a custom action button in the ~~entity~~ collection index view? I need a quick way to remove ~~entities~~ collections from the index table. That way I don't have to open each one, hit delete, confirm, etc.  The ideal solution is a check box so I can do bulk actions but at this point, an action button

[2015-04-29 12:18] ryanbuiltthat commented on #128
Actually this was way easier than I thought thanks to Tabular. Within the collection definition I added this to the Tabular object setup:

    tableColumns: [
		{
		  tmpl: Meteor.isClient && Template.receiptactionbtn,
		  title: 'Action'
		},

Then I just have a series of buttons in my `receiptactionbtn` template with the right helpers. If I can get my template overrides to work I'll work to get

[2015-04-29 12:18] #128 closed

[2015-04-29 12:42] timfam commented on #126
This is should be a community package for now.

[2015-04-29 12:45] timfam commented on #127
I will start with autoform issue queue first, Autoform and SimpleSchema are used wholesale here and you   should not need client hacks to make it work

[2015-04-29 13:01] timfam commented on #91
Themes are now supported closing issue

[2015-04-29 13:01] #91 closed

[2015-04-29 13:01] #75 closed

[2015-04-29 13:02] timfam commented on #120
Done

[2015-04-29 13:02] #120 closed

[2015-04-29 13:08] timfam commented on #128
I agree checkboxes are the way to go, but this should be a package. I will discuss with the others about this

[2015-04-29 13:37] nicolaslopezj commented on #127
@jdivy you should submit a issue on this package https://github.com/djhi/meteor-autoform-materialize/

[2015-04-29 17:30] ryanbuiltthat opened #129 "How do I add a license for Frola?"
Where would I add the license for frola? They have two methods, both seem to need DOM access. Is it just a matter of writing another helper for admin pages and use the `Template.onRendered` hook?

From the docs:

[code]

[code]

I'm not sure how I'd go about the first method given how meteor loads javascript and the second would need to be template specific it seems.

[2015-04-29 17:50] jdivy commented on #127
Turns out it was my problem (and partly lack of documentation perhaps).  Found my answer here https://github.com/djhi/meteor-autoform-materialize#pickadate

My hack is completely unnecessary - by configuring `autoform` with `type: "pickadate"` (which is provided by the package @nicolaslopezj pointed me to) all works as expected:

[code]

[2015-04-29 17:50] #127 closed

[2015-04-29 17:55] ryanbuiltthat commented on #129
Seems like in the frola subpackage in `frola.ja` couldn't we add a config variable after line 14:

[code]
Add app config variable:
[code]

I'm not at my dev machine to test this but that seems like that should work no? Put the inputs in for any keys needed automatically...if a user really wants you can always set a boolean var to hid un-needed config variables.

[2015-04-29 18:02] ryanbuiltthat commented on #129
To further detail this idea, I think any attributes for the system that are native should be prepackaged under a System category or whatever. Subpackages are great and allow some awesome flexibility but for the ones that require some configuration, adding them to a general config category would help group required system configuration variables and provide a more consistent UX for admins....IMHO t

[2015-04-29 18:04] timfam commented on #129
You have a good point here. We will try to make it so

[2015-04-29 18:04] timfam commented on #129
for now I think onRendered should solve your problem

[2015-04-29 18:27] ryanbuiltthat commented on #129
@timfam  the way meteor handles the onRendered event and the way it scopes variables wouldn't I need to put that activation in every template that could or does display the Frola editor?

[2015-04-29 19:20] timfam commented on #129
yes but you can make a global var in /lib/options.js and call in every template instance. Also might be possible to pass it through the schema as a default value or something of that nature and you won't have to bother with onRendered @nicolaslopezj  this should be possible?

[2015-04-30 02:11] nicolaslopezj commented on #129
@ryanbuiltthat The solution you pointed up is perfect. Would you like to make a pull request?

[2015-04-30 17:11] Weijtmans opened #130 "Add custom entity (via API)"
Since the last (1.0) update I am no longer able to add custom entities with their own templates to the Orion back-end.
I used to be able to use:

[code]

Is there an API available to do this in 1.0?

[2015-04-30 17:19] nicolaslopezj commented on #130
The api is different now.
http://orionjs.org/tutorials/upgrading-to-v1-0

[2015-05-01 05:18] #130 closed

[2015-05-01 13:47] maxfinnsjo commented on #108
Im am using to much joy, but I cant seem to upload images!

[2015-05-01 15:43] timfam commented on #108
@maxfinnsjo  what package are using s3 or local packages?

[2015-05-01 16:20] jorisroling opened #132 "Languages in v1.0"
In v1.0 I dearly miss the language option of the dictionary. Any chance that will return?

[2015-05-01 16:22] jorisroling commented on #99
Would a 'sort' option not do it? So that with the minimongo find() the sort options could be added?

[2015-05-01 16:22] timfam commented on #132
Internationalization will return, we're figuring out the best way to use an exiting package to achieve that

[2015-05-01 16:25] jorisroling commented on #132
Great! Any clue about a timeframe? (don't want to be pushy, but I was about to release an app...)

[2015-05-01 16:27] timfam commented on #132
It's a matter of testing out different packages out there, could you join in the hunt for the right package to use?

[2015-05-01 16:31] timfam commented on #132
Messageformat is a possible https://atmospherejs.com/gadicohen/messageformat option http://messageformat.meteor.com/

[2015-05-01 17:19] jorisroling commented on #132
In my view, there are so many aspects to true localisation and internationalisation, Orion will never solve them all adequately, for everyone. Think dates, numbers, text etc. The simple solution Orion provided in it's former life was a good start, and should even be used, in my view, for collections (previously entities). Maybe an extra option to it could be to allow only certain (text) fields to

[2015-05-01 19:02] nicolaslopezj commented on #108
If you use s3 there is a new configuration

[2015-05-01 19:06] nicolaslopezj commented on #99
You can use the score function of selectize.
That function is not supported right know, but it wouldn't be difficult to do it. Do you wan't to make a pull request?

[2015-05-02 02:59] maxfinnsjo commented on #108
i use s3 have put in api key, secret and bucket name, from user ami of aws account in admin..  but gives "Error": in console when trying to upload selected image file

[2015-05-02 03:27] rwatts3 commented on #108
@maxfinnsjo

Would you submit a new issue.  Add the error code , and mention me in the issue.  This initial issue is seperate from the issue you're having.

[2015-05-02 03:27] #108 closed

[2015-05-02 11:03] maxfinnsjo opened #134 "Example Blog (https://github.com/orionjs/examples)"
I Clone this gitbub repo in to a directory, and cd in to the Blog folder, I run "meteor" the example blog opens in my browser on localhost:3000, I can create a user and log in to admin view. I add post and try to add image, I can click on add image and save upload. But no image shows up in the post, either in the edit when actually selecting image to upload nor when it has been saved.. Upon saving

[2015-05-02 14:26] smogg opened #135 "S3 address"
When trying to upload a file I get a cross-origin request blocked response, even tho my CORS on aws are set. According to [this StackOverflow questions](http://stackoverflow.com/a/15052967/704247) the endpoint address should be http://bucket.s3.amazonaws.com/ and not http://s3.amazonaws.com/bucket/ in order for CORS to be respected. The error I get back says otherwise, where can I change that?

[2015-05-02 15:23] nicolaslopezj commented on #134
Did you setup the s3 config?

[2015-05-02 15:26] nicolaslopezj commented on #135
Orion uses https://github.com/Lepozepo/S3. That package returns the url in the way you are seeing it, if you want to change you can remove the s3 package and put the modified contents of the package in you code. https://github.com/orionjs/orion/blob/master/packages/s3/s3.js

[2015-05-02 15:29] sokki commented on #135
@nicolaslopezj The package allow the parameter "region" and switch to the subdomain urls, if it's not "us-standard" https://github.com/Lepozepo/S3/blob/345971c472fef17cbd40cf278c6d476df1763116/server/sign_request.coffee#L43
You should implement the region Setting in orion-s3.

@smogg Use a bucket in region "us-standard" until it's fixed

[2015-05-02 16:30] maxfinnsjo commented on #134
i redid all as in the updated readme url regarding s3 config. Now it works!! Great work guys, thanks!!

[2015-05-02 16:30] #134 closed

[2015-05-03 09:03] smogg commented on #135
Thanks for the clarification, everything works as expected now.

[2015-05-03 15:32] #135 closed

[2015-05-04 14:49] mraak commented on #123
W20150504-16:49:29.408(2)? (STDERR)
W20150504-16:49:29.410(2)? (STDERR) /Users/alenbalja/.meteor/packages/meteor-tool/.1.1.3.1570xzu++os.osx.x86_64+web.browser+web.cordova/mt-os.osx.x86_64/dev_bundle/server-lib/node_modules/fibers/future.js:245
W20150504-16:49:29.410(2)? (STDERR) 						throw(ex);
W20150504-16:49:29.411(2)? (STDERR) 						      ^
W20150504-16:49:29.411(2)? (STDERR) Error: Match err

[2015-05-04 14:52] mraak commented on #122
There's an organized way of doing migrations and storing them for later reversal in, say, Django framework there are both inbuild tools, and 3rd party tools such as South.

https://docs.djangoproject.com/en/1.8/topics/migrations/

http://south.readthedocs.org/en/latest/commands.html

I was wondering if there's anything similar for Meteor or Orion.

[2015-05-05 10:47] frabrunelle opened #136 "Ability to sort createdAt attribute in collections index table"
I'd like to be able to sort the createdAt attribute in the index table of a collection. For example, I have a transactions collection and I would like the index table to display the transactions in order of most recent date.

When I put `orion.attributeColumn('createdAt', 'createdAt', 'Date')` in the columns array, I am not able to sort the Date column (`sorting_disabled`).

![screen shot 2015-05-

[2015-05-05 11:26] frabrunelle commented on #136
It seems like the [datetime-moment](https://datatables.net/plug-ins/sorting/datetime-moment) plugin for DataTables would enable such a functionality.

See this blog post for more info: https://datatables.net/blog/2014-12-18

Since Orion already uses [moment.js](http://momentjs.com), which is a dependancy of the `datetime-moment` plugin, I think it would make sense to include that plugin in Orion.

[2015-05-05 14:09] timfam commented on #136
@frabrunelle you can do a PR for this. I am also thinking of doing accounting formating package when I have the time. So PR is your best friend

[2015-05-06 06:21] frabrunelle commented on #136
@timfam alright, I'll try to do a PR :smile:

for an accounting formatting package, have you looked at http://openexchangerates.github.io/accounting.js/ (available via https://atmospherejs.com/risul/accounting for example)?

[2015-05-06 12:53] timfam commented on #136
Yes that is what I have in mind
On May 6, 2015 2:21 AM, "Francis Brunelle" <notifications@github.com> wrote:

[2015-05-08 12:06] RubenB opened #138 "Error installing orionjs:core@1.0.0"
I get this contraint error when i try to install orionjs:core@1.0.0. If i try 'meteor add orionjs:core', meteor adds the previous version of orionjs:core. Am I missing something or is this a bug?

I tried this on a fresh project and I also use windows 8.1.

error: Conflict: Constraint matb33:collection-hooks@0.7.13 is not
satisfied by matb33:collection-hooks 0.7.11.
Constraints on package "matb33:

[2015-05-09 23:54] rwatts3 commented on #138
I would run meteor reset, or I would delete the versions, and uninstall all variants of Orion, if you have a previous version of config or account it will force you to use the compatible version of Orion.

[2015-05-10 11:54] RubenB commented on #138
My problem is solved! It probably had something to do with meteor 1.2.2 rc.
I started a new project on my mac with meteor version 1.2.2 instead of 1.2.2 rc.
I added orionjs:core and it was version 1.0.0.

Thanks for the help @rwatts3 !

[2015-05-10 19:13] #138 closed

[2015-05-11 07:52] delgermurun opened #141 "Separating admin and frontend"
[Incremental loading](https://trello.com/c/24s6vyxo/55-incremental-loading) is not top priority for `MDG`, so it'll take a while to implemented.

I don't want to load whole admin related things (dashboard etc...) for readers. They absolutely doesn't need it.

Can I separate it?

[2015-05-11 13:35] nicolaslopezj commented on #141
In a simple solution, no, you can't.

But I can think that you could make 2 different apps, and here two different solutions:

- Make the both apps connect to the same mongo database, then only put orion in one.
- Make the second app connect to the orion app via ddp http://docs.meteor.com/#/full/ddp_connect.

[2015-05-11 16:56] timfam commented on #141
I read through that incremental loading topic and I think there might be an easier way to solve this problem for Orion starting with the themes, what if we place theme files in public dir
[code]
in packages.js for theme we add a connect file
[code]
this way Meteor never loads admin themes until when needed
thoughts?

[2015-05-11 21:46] delgermurun commented on #141
Thank you guys for the ideas. I'll do some workaround and let you know the result.

@timfam Sorry, I can't fully understand your idea. If possible, little demo would be great :). Thanks.

[2015-05-13 17:15] Weijtmans opened #144 "Added support for gridFS for Orion"
Hi,

I've created a package to add support for gridFS. Feel free to incorporate it in Orion.
It's available at: https://github.com/brightbind/orion-gridFS/

Best,

Elgar

[2015-05-13 17:24] timfam commented on #144
Thanks @Weijtmans for the package very useful

[2015-05-13 17:38] nicolaslopezj commented on #144
Thats great! I will add it to the list of Community Add-On Packages

[2015-05-13 17:38] #144 closed

[2015-05-13 20:56] PEM-- opened #145 "Argument checking fails with orionjs:pages"
Just add `meteor add audit-argument-checks` to your project. Now when you hop in a page, the server complains about an issue on arguments not being checked:
[code]

[2015-05-14 12:35] payner35 opened #146 "Add a class to an attribute.."
[code]
I have a HasOne relationship linking to a Company.  This results in a dropdown like so

![image](https://cloud.githubusercontent.com/assets/939749/7631736/166403a4-fa57-11e4-9b12-543cf02c5990.png)

The company here is called "oneLife"...  i want to add a class "active" to  the input field..  Can i add a class to the schema?

[2015-05-14 14:58] ryanbuiltthat commented on #129
Hey guys, apologies I've been playing catch up and haven't had time to get to this. Do you still need a PR for this? I also have a small enhancement that adds a third field to config vars. A label. Sometimes you may need a multi-word label and I was hitting issues with the current state. (Then again I haven't updated in 15 days).

[2015-05-14 20:50] PEM-- commented on #144
Yummy :+1:

[2015-05-14 22:28] rwatts3 opened #147 "Foundation Admin"
## Build Orion Admin Foundation Theme.

---

- [ ] Modal Orion Bootstrap theme and create Orion Foundation Theme.
- [ ] Leverage Foundation features in new theme.
- [ ] Test create, update, delete pages to ensure consistency.
- [ ] Provide Documentation on Orion Foundation Theme. and classes.

[2015-05-14 23:00] #147 closed

[2015-05-14 23:01] rwatts3 commented on #147
Moved to separate repo.

[2015-05-14 23:27] nicolaslopezj commented on #147
Can you put the link of the repo here? So the people that get here knows where it is

[2015-05-15 13:23] mraak opened #148 "How To: Make changes in orion package and use it in your project?"
I'd like to make amendments in orion/packages/accounts, and orion/packages/bootstrap, and then use it in my own version of examples/blog. Do I have to compile it somehow, just copy these packages somewhere (where)?

Furthermore, in the list of packages for blog example doesn't include accounts, how is this handled?

[2015-05-15 14:17] timfam commented on #148
Accounts is a dependent of core. you can download core and user it locally

[2015-05-15 14:19] mraak commented on #148
@timfam And the first question? How do I use orionjs/accounts after making some changes to it? Copy it into my project manually (where), or?

[2015-05-15 16:14] nicolaslopezj commented on #148
If you put it in the packages folder of your project, meteor will take that one instead of the original.

[code]

If you wan't to change bootstrap, you can override the templates in a easy way.

[2015-05-15 16:15] nicolaslopezj commented on #146
We are waiting here
https://github.com/djhi/meteor-autoform-materialize/issues/18

[2015-05-15 16:15] rwatts3 commented on #148
Also you can dork the package.  And add Orion repo as an upstream.  As you develop and as the package is updated you can pull and merge the latest update from the upstream and continue your development.

[2015-05-15 17:57] payner35 opened #149 "Adding an [Object] to a Schema"
[code]

Im trying to add an Object array.  But it does not seem like the autoform elements are not recognized?

![image](https://cloud.githubusercontent.com/assets/939749/7658696/4602b3de-fb4d-11e4-95e2-d09d88981680.png)

have tried "item.$.name" as well..

[2015-05-15 18:10] timfam commented on #149
[code]

[2015-05-16 03:42] payner35 commented on #149
Thanks @timfam

Heres my final working... (coffeescript)

[code]

![image](https://cloud.githubusercontent.com/assets/939749/7664568/104dfe5e-fb9f-11e4-91bb-c102bd170a69.png)

[2015-05-16 12:22] PEM-- opened #151 "Enhancement: Logging system"
Currently, Orion's logs are mixed with application logs which leads to incomprehensions from users / developers.

I propose that we use which provides a good isolation as well as levels: https://atmospherejs.com/jag/pince.

I've used it on an app and it behaves properly with Orion separating my app logs from the one of Orion.

[2015-05-16 15:30] timfam commented on #151
Logging is a big deal are your proposing core makes this a dependent?

[2015-05-16 15:32] PEM-- commented on #151
Yep. Currently, there `console.log` everywhere. They mix with developper's log. Thus, they can't understand if stuff is going badly owing to them or Orion.

[2015-05-16 15:40] timfam commented on #151
Do a PR

[2015-05-17 06:43] frabrunelle commented on #136
I actually found a way to achieve what I wanted by looking at the [example](https://github.com/aldeed/meteor-tabular#example) in the README of meteor-tabular.

[code]

So I'll close this issue for now.

[2015-05-17 06:43] #136 closed

[2015-05-17 16:37] ryanbuiltthat opened #153 "Froala Editor overlaps Materialize label"
In the admin, the Froala editor overlaps the input label. I've only tested this with the Materialize theme.

[2015-05-17 16:41] ryanbuiltthat opened #154 "Extending config schema"
It'd be nice if we could add default values for configuration variables. For example with the Froala config var to set the height; ideally we would set a default height that can be adjusted by a user if they need. I know we can set it within the get function:

[code]
But it doesn't appear that we can pass a default value into the configuration template.

Other schema option I'd like to throw out t

[2015-05-17 16:45] ryanbuiltthat opened #155 "Password reset capabilities for admins"
Admin users should be able to reset the password of any user.

[2015-05-17 16:54] ryanbuiltthat opened #156 "Non reactive admin screen"
I was setting some things up and actually noticed with the materialize theme at least, the admin screens are not reactive. I was changing the roles of a user and in another browser looking to confirm the proper capabilities were changing but the admin screen would load up with only My Account in the sidebar. I'd have to refresh to see the rest of the admin links.

It really appears to be isolated

[2015-05-17 22:08] kaona commented on #1
Does this help manage images? Is there any consideration of responsiveness in websites?

[2015-05-18 03:36] nicolaslopezj commented on #154
Orion config is not the solution here. Config is a replacement for environment variables.

A much simpler solution is to use nicolaslopezj:options, which is a requirement of Orion, so it's installed in all apps.

A PR with the option to change the height using nicolaslopezj:options will be accepted.

[2015-05-18 03:38] nicolaslopezj commented on #156
Please point exactly which parts are non reactive. Only the sidebar? Only with roles?

This is a bug, so it will be fixed.

[2015-05-18 09:25] jorisroling commented on #132
Hi Nicolas,

Any chance you could get your old **Language** features (in _Dictionaries_ and possibly _Collections_ & _Pages_) back in? So that a **english** and (in my case) **dutch** buttons appears above the AutoForms?

Would be grand!

Regards,
J*

[2015-05-18 09:58] oh3netid opened #157 "How to add datetime in my schema?"
Hello, I am using materialize with orion and having difficulty getting a schema with "datetime" to work. The default "Type: Date" is just a date and I need to specify time as well. Also, the default Date view looks wrong until you enter a valid date.

![0027-05-18 18 57 14](https://cloud.githubusercontent.com/assets/10240281/7678528/c9619c38-fd8f-11e4-8579-f7ba1d4e0dc1.jpg)
![0027-05-18 18 57 29](

[2015-05-18 10:05] rwatts3 commented on #157
Use autoform and set the type of the afFieldIput to 'datetime' set autoform type to string.  You will get a field that allows date and time.  Also you can set he default value to Return new Date() for the current date and time.

[2015-05-18 14:31] hugo665 opened #158 "How to subscribe in Iron Router?"
Hi,

I am using an old version of orion and I would like to update to the new one - how do I subscribe to my orion collections in iron router?

Couldn't find anything on iron-router on your new website.

My old code:

Iron-Router:
[code]

Publication:
[code]

Collection:
[code]

[2015-05-18 15:47] nicolaslopezj commented on #1
With ```orion:file-attribute``` its really easy to upload images on s3 or local.

What do you mean with responsiveness in websites? I think that is not in the scope of this project.

[2015-05-18 16:05] nicolaslopezj commented on #132
Doing this is in the roadmap, but it has to be done the right way.
This features changes a lot of things from the inside, so we need to do it perfectly.

[2015-05-18 16:08] nicolaslopezj commented on #157
For a "material" way to do it use this:
[code]

[2015-05-18 16:11] nicolaslopezj commented on #158
You have to do it just like a normal meteor collection.

[code]

There is no need to subscribe to the dictionary now.

[2015-05-18 16:13] nicolaslopezj commented on #153
Labels with materialize have been a little tricky, expect a fix.

[2015-05-18 16:13] #149 closed

[2015-05-18 16:14] nicolaslopezj commented on #48
New roles system solves this

[2015-05-18 16:14] #48 closed

[2015-05-18 16:17] nicolaslopezj commented on #64
We will keep the idea, but they should not live in the issues

[2015-05-18 16:17] #64 closed

[2015-05-18 16:17] #66 closed

[2015-05-18 16:19] #129 closed

[2015-05-18 16:19] #126 closed

[2015-05-18 16:20] #122 closed

[2015-05-18 16:21] #104 closed

[2015-05-18 16:21] #90 closed

[2015-05-18 16:21] #89 closed

[2015-05-18 16:27] #158 closed

[2015-05-18 22:00] oh3netid commented on #157
Thank you very much for the help! I eventually switched to bootstrap for datetimepicker. When I did so, my add button looked like this. How do I fix / customize it?

![0027-05-19 6 57 37](https://cloud.githubusercontent.com/assets/10240281/7691327/8a319b70-fdf4-11e4-9d66-2d354befb0c2.jpg)

[2015-05-18 22:03] rwatts3 commented on #157
Ok , if you are using bootstrap then you need to make sure bootstrap is installed. Keep in mind that if you are using materialize, than adding materialize and bootstrap will cause issues with classes.
by looking at this screenshot it looks like you are using the materialize admin theme , so you will want to go with @nicolaslopezj suggestion above. Otherwise change your theme to `orionjs:bootstrap`

[2015-05-18 22:07] oh3netid commented on #157
I'm pretty sure I'm using bootstrap now. Here are my meteor packages
meteor-platform
orionjs:core
coffeescript
dburles:collection-helpers
momentjs:moment
twbs:bootstrap
orionjs:bootstrap
aldeed:autoform-bs-datetimepicker
tsega:bootstrap3-datetimepicker@=3.1.3_3

Here's a full screen
![0027-05-19 7 05 55](https://cloud.githubusercontent.com/assets/10240281/7691468/947fb926-fdf5-11e4-9ded-4133edfa8c

[2015-05-18 22:09] rwatts3 commented on #157
Hmm , you are correct. have you recently switched to the bootstrap theme ?

If so try clearing your cache or opening in an incognito window and see if old styling got cached. Also try to stop the server and start it again , since you modified the type of that field it could have something to do with the update.

[2015-05-18 22:11] nicolaslopezj commented on #157
do you have font awesome installed?

[2015-05-18 22:11] rwatts3 commented on #157
Good point Nicolas

On Monday, May 18, 2015, Nicolás López <notifications@github.com> wrote:

--
Ryan Watts
E.ryandwatts@gmail.com
C.520-442-8962
F.520-437-0914
IN. https://www.linkedin.com/in/ryandwatts

[2015-05-18 22:15] oh3netid commented on #157
Thank you, that did it. May want to add that to the getting started docs. Also, is there a way to customize the button? Thanks again!

[2015-05-18 22:16] rwatts3 commented on #157
Yes there is you can grab the class of the button and add your own
styling.  If you want to specify don't awesome you'll need to modify your
own variant of the theme.

--
Ryan Watts
E.ryandwatts@gmail.com
C.520-442-8962
F.520-437-0914
IN. https://www.linkedin.com/in/ryandwatts

[2015-05-18 22:23] oh3netid commented on #157
Thanks for your help!

[2015-05-18 22:23] #157 closed

[2015-05-19 15:37] kaona commented on #1
I mean that when you have an app that displays on multiple formats you will want to load an image that works taking into account the format and the speed of the connection for the device. It would be great to have a cms that allows you to take that into account. You can do this using html and css to call the correct image mostly via media queries. So if we were to use the cms to load the image, co

[2015-05-19 15:48] rwatts3 commented on #1
@kaona.

I know what you are referring to.  This would be a front end rendering
logic and not necessarily a core issue.  You can write a plugin to handle
images rendering for different media types.  I recommend extending a plugin
and allowing to store different variations of the images instead of simply
calling height and width restraints to the image.

On Tuesday, May 19, 2015, kaona <notificatio

[2015-05-19 16:15] kaona commented on #1
Watts, im still learning this stuff. What do you mean by extending a plugin? Does that mean there is a plugin for meteor that kinda does this and that I should add functionality to it?

[2015-05-19 18:22] rwatts3 commented on #1
Hi Kaona ,

No worries on the being new to Meteor.  I'm referring to you can create a
package that does the functionality you are looking for and use that
package in your applications.

On Tuesday, May 19, 2015, kaona <notifications@github.com> wrote:

--
Ryan Watts
E.ryandwatts@gmail.com
C.520-442-8962
F.520-437-0914
IN. https://www.linkedin.com/in/ryandwatts

[2015-05-19 18:51] kaona commented on #1
Ok. Thank you.

[2015-05-19 20:40] rwatts3 commented on #1
@/all I have created a discussion on the new Orion Forums.  You can continue open discussions there.

http://forums.orionjs.org/t/comparison-with-existing-meteor-cms/17

[2015-05-19 20:48] amejias101 commented on #90
Does this mean that it was integrated in 1.0?

[2015-05-19 21:10] rwatts3 commented on #90
Alex ,
Does your editor have a split pane for seeing the preview in the right or
left column? See here for an example http://stackedit.io
On Tue, May 19, 2015 at 1:48 PM Alex Mejias <notifications@github.com>
wrote:

[2015-05-19 21:20] nicolaslopezj commented on #90
This was closed because it is an announcement, not an issue

[2015-05-19 21:24] amejias101 commented on #90
@rwatts3 Nope, is it supposed to?

[2015-05-19 21:25] rwatts3 commented on #90
Not that it's supposed to but it would be nice if it could . Think of
stackedit inside of a modal . Would this be too hard to implement ?

On Tuesday, May 19, 2015, Nicolás López <notifications@github.com> wrote:

--
Ryan Watts
E.ryandwatts@gmail.com
C.520-442-8962
F.520-437-0914
IN. https://www.linkedin.com/in/ryandwatts

[2015-05-19 21:28] amejias101 commented on #90
¯\_(ツ)_/¯  I was wondering if the work mentioned @kevohagan was implemented in version 1.0, I was not intending to write a package for it. Sorry for the confusion

[2015-05-19 21:30] rwatts3 commented on #90
Oh I see.

On Tuesday, May 19, 2015, Alex Mejias <notifications@github.com> wrote:

--
Ryan Watts
E.ryandwatts@gmail.com
C.520-442-8962
F.520-437-0914
IN. https://www.linkedin.com/in/ryandwatts

[2015-05-20 09:53] mraak commented on #148
Say I wanted to make a change worthy of a pull request, what branch should I be using? I see both master and 1.1 have active commits happening.

[2015-05-20 10:38] dwehrmann opened #160 "no route"
Hi,
I'm new to Orion, apologies if this is a silly question:

After installation and starting all up, I am presented by a
"Oops, looks like there's no route on the client or the server for url: "http://localhost:3000/."" on a blank screen.
navigating to /admin I can create a admin user but that's all I can do here

Is this the expected behaviour or am I missing something? Do I need to create the r

[2015-05-20 11:42] timfam commented on #160
Download the example app all your questions are answered in there
On May 20, 2015 6:38 AM, "dwehrmann" <notifications@github.com> wrote:

[2015-05-20 12:56] dwehrmann commented on #160
@timfam Ah, I see. Thanks a lot for pointing me to the right direction.

[2015-05-20 12:56] #160 closed

[2015-05-20 14:35] ryanbuiltthat commented on #156
Not sure what exactly is the issue. I have a "drawer" in the front-end. Basically a popup div that slides in from the bottom. It's defined in the layout template. If I go into the admin it is still there. This seems to be related as moving between admin routes does not re-render the UI. If I'm on the password change screen, I only see My Account in the sidebar, I have to refresh to see the whole s

[2015-05-20 14:59] rwatts3 commented on #148
I'd say Master.  1.1 is for new functionality or minor improvements coming
to Orion.  Nick correct me if I'm wrong here.

On Wednesday, May 20, 2015, mraak <notifications@github.com> wrote:

--
Ryan Watts
E.ryandwatts@gmail.com
C.520-442-8962
F.520-437-0914
IN. https://www.linkedin.com/in/ryandwatts

[2015-05-20 15:01] mraak commented on #148
The one I'm doing is pretty huge, better admin for users / accounts. So it might need more reviewing and possibly redesigning something.

[2015-05-20 15:06] rwatts3 commented on #148
Oh I see.  Did you consider making a separate package instead of PR ? If
it's that huge ?

On Wednesday, May 20, 2015, mraak <notifications@github.com> wrote:

--
Ryan Watts
E.ryandwatts@gmail.com
C.520-442-8962
F.520-437-0914
IN. https://www.linkedin.com/in/ryandwatts

[2015-05-20 15:07] rwatts3 commented on #148
As a rule of thumb unless you have ore approval from Nick about submitting
PR to Core , we try to keep things in packages.

On Wednesday, May 20, 2015, Ryan Watts <ryandwatts@gmail.com> wrote:

--
Ryan Watts
E.ryandwatts@gmail.com
C.520-442-8962
F.520-437-0914
IN. https://www.linkedin.com/in/ryandwatts

[2015-05-20 15:09] mraak commented on #148
It's not that "huge", but it touches many other parts of accounts package as well as bootstrap package (would also need to do the same in materialize).

Basically, instead of only sending invites, admin can also create the user, and later delete or edit it, change password, etc... The user gets an activation email to select a password, but he is already created and editable in the system.

[2015-05-20 15:16] ryanbuiltthat commented on #156
Here's the error I get:

    Exception from Tracker recompute function:
    debug.js:41 Error: Bad index in range.addMember: 1
        at DOMRange.addMember (http://localhost:3000/packages/blaze.js?a5c324925e5f6e800a4c618d71caf2848b53bf51:530:11)
        at http://localhost:3000/packages/blaze.js?a5c324925e5f6e800a4c618d71caf2848b53bf51:2695:32
        at Object.Tracker.nonreactive (http://localho

[2015-05-20 18:55] nicolaslopezj commented on #148
Make a pull request that merges your branch into v1.1 branch

[2015-05-20 18:56] rwatts3 commented on #148
Nick he will want to make sure he's checked out branch 1.1 to avoid
conflicts right?

On Wednesday, May 20, 2015, Nicolás López <notifications@github.com> wrote:

--
Ryan Watts
E.ryandwatts@gmail.com
C.520-442-8962
F.520-437-0914
IN. https://www.linkedin.com/in/ryandwatts

[2015-05-20 19:02] nicolaslopezj commented on #148
Yes Ryan

[2015-05-20 19:12] mraak commented on #148
This will still need review from someone, and a bit of guidance to finish it. Will someone check my fork once I'm done, or should I send a pull request into 1.1?

[2015-05-20 19:13] rwatts3 commented on #148
You can send PR.  Revisions and discussions will be held at the PR

On Wednesday, May 20, 2015, mraak <notifications@github.com> wrote:

--
Ryan Watts
E.ryandwatts@gmail.com
C.520-442-8962
F.520-437-0914
IN. https://www.linkedin.com/in/ryandwatts

[2015-05-20 22:48] delgermurun commented on #141
Looks like `DDP.connect` is way to go.

[2015-05-20 22:48] #141 closed

[2015-05-21 12:32] timfam commented on #141
So you got that working great! Can you do a tutorial or share something about the challenges you faced doing this with Orion?

[2015-05-21 13:57] dvc94ch opened #161 "Bug in bootstrap/views/layout/layout.less"
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600);

should be

@import url(//fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600);

Just spent 30min till I figured out that it wasn't any of my imports causing the security error. =P

[2015-05-21 19:53] robwatkin opened #162 "Pages Opps message flashing up"
I have a question about Pages.

I have implemented a simple page template pretty much exactly as suggested in the docs. It works but just after the page renders Meteor flashes up the message;

oops looks like there's no route on the client or the server for url ....

It's barely there for a tenth of a second and doesn't show up in the logs anywhere.

I suspect I'm doing something foolish. Is this

[2015-05-21 20:37] rwatts3 commented on #162
Can you post a screenshot of your page inside the admin panel.

Sent from my iPhone

[2015-05-21 21:26] delgermurun commented on #141
I did little demo that connects to http://orion-example.meteor.com/. It works great.

I wish I could write articles on English. My English isn't good enough, especially writing/speaking skills. So I can't do it now, sorry.

[2015-05-21 21:29] timfam commented on #141
Then write what you can and I can fix the typos.  Good practice too :)
On May 21, 2015 5:26 PM, "Delgermurun Purevkhuu" <notifications@github.com>
wrote:

[2015-05-22 07:59] delgermurun commented on #141
@timfam I'll think about it :)

[2015-05-22 10:17] robwatkin commented on #162
I have cloned the example blog repo over at https://github.com/robwatkin/examples which demonstrates the issue. I'll just go and get some screen shots now :-)

[2015-05-22 10:20] robwatkin commented on #162
Screen shots ...

![screen shot 2015-05-22 at 11 15 42](https://cloud.githubusercontent.com/assets/674787/7768562/5d326f1e-0074-11e5-8e08-f2b51ba43823.png)

and ...

![screen shot 2015-05-22 at 11 16 07](https://cloud.githubusercontent.com/assets/674787/7768569/73ad7400-0074-11e5-8eab-dfa0464090d2.png)

[2015-05-22 14:28] robwatkin commented on #162
I haven't been able to fix the issue. It seems that iron-router is loading the route before the subscription is ready. I have been able to hack the pages package in order to mask the problem. My [diff](https://github.com/robwatkin/orion/commit/8401b3671778ea7f7a9de76692f9ad9941368f4c) is here

https://github.com/robwatkin/orion/commit/8401b3671778ea7f7a9de76692f9ad9941368f4c

I hope that's useful.

[2015-05-22 14:57] anthonylebrun opened #164 "orionjs summernote / s3 upload issue"
Hey folks,

I just uploaded an image file via summernote using the orionjs:s3 method for uploading files and while it looks like the upload was successful (I confirmed the image was in my s3 bucket), it never gets inserted into the editor and I get the following error:

    Exception from Tracker recompute function:
    meteor.js:888 TypeError: Cannot read property 'insertImage' of undefined

[2015-05-22 16:16] rwatts3 commented on #162
Ok let me install the site really quick from your repo and see what I can discover .

[2015-05-22 16:17] rwatts3 commented on #162
Ok out of curiosity is there a reason you are forking the pages package ? , could your updates be done with a brand new package or what specifically are you updating with the core pages .

[2015-05-22 16:29] #161 closed

[2015-05-22 17:12] nicolaslopezj commented on #162
This will be fixed in ```v1.1```

[2015-05-22 17:12] #162 closed

[2015-05-22 17:13] nicolaslopezj commented on #145
This is fixed in v1.1, just wait for the release.

[2015-05-22 17:13] #145 closed

[2015-05-22 22:08] robwatkin commented on #162
@rwatts3 , I was just trying to understand if I was using orion incorrectly or if there is an issue so I forked the packages so that I could feed back my experiences. I'll use the 1.1 then, presumably I need to get the latest git HEAD?

[2015-05-22 22:13] nicolaslopezj commented on #162
The error was strange, when I was testing I saw that message for less than a second. I made some changes in the route handling, and now it works fine.

If you want to use the version 1.1 you must download the 1.1 branch and put the packages folder inside the packages folder of your app (probably you will have to create that folder).

[2015-05-22 22:51] anthonylebrun opened #165 "Page URLs do not support a "deep" structure"
What I mean by that, is that I can't have a pages with urls like "/about/team" "/about/investors". Is there a reason the validating regex should limit the presence of forward slashes in a page's URL like that?

[2015-05-22 22:53] nicolaslopezj commented on #165
It's because iron router doesn't support "deep" structure in parameters.

[code]

[2015-05-22 23:00] anthonylebrun opened #166 "Removing dependencies on third party UI frameworks"
Because of the way meteor loads assets globally, I sort of have no choice but to use bootstrap or materialize in other parts of my app.

Could I suggest using a more lightweight, non-invasive framework like the purely semantic sass version of [Kickstart](http://getkickstart.com/)?

I'd be happy to help out with this PR if this is something you'd be interested in :) The admin interface could also u

[2015-05-22 23:02] nicolaslopezj commented on #166
You can create a admin interface without creating a pr. It's very easy, just follow the examples of orionjs:bootstrap and orionjs:materialize, which both are completely separate packages.

[2015-05-22 23:07] anthonylebrun commented on #166
Ok cool, thanks for the pointer. Great project by the way :+1:

[2015-05-22 23:11] timfam commented on #165
This issue was raised in last meetup I attended where Iron-router author presented. I doubt this feature will happen anytime soon

[2015-05-22 23:12] anthonylebrun commented on #165
I was just googling around to see if there's a way around this :(

[2015-05-22 23:13] timfam commented on #166
I look forward to your admin theme

On Fri, May 22, 2015 at 7:07 PM, Pierre Lebrun <notifications@github.com>
wrote:

[2015-05-23 03:46] dandv opened #167 "Link to team in the footer of orionjs.org is broken"
Looks like there are no teams in the GitHub org at the moment.

[2015-05-23 03:57] dandv opened #170 "http://orionjs.org/docs/introduction behind the README?"
At the bottom of http://orionjs.org/docs/introduction, I see only one Filesystem package, lc3t35:orion-filesystem-local. The README has two.

[2015-05-23 08:42] rwatts3 commented on #165
What if we grabbed that field. For slug and break it apart with the forward
slash being the delimiter , the somehow pass an array to iron router
creating a new variant of /:slig for each item in the broken array.
On Fri, May 22, 2015 at 4:12 PM Pierre Lebrun <notifications@github.com>
wrote:

[2015-05-23 08:50] rwatts3 opened #171 "Add Orionjs-foundation to list of admin themes."
Let's add Orionjs foundation to our list of current admin themes. This will bring devs that defer bootstrap and prefer foundation into the community.

https://github.com/rwatts3/orionjs-contrib/blob/master/orionjs-foundation/README.md

Orionjs site now states we have two themes.  We could update to state three themes.

[2015-05-24 13:34] anthonylebrun commented on #164
Has anyone been able to reproduce this?

[2015-05-26 11:08] benjick commented on #165
Doesn't iron:router support `/:slug?` as in `path-to-regexp`?

[2015-05-27 03:34] nicolaslopezj commented on #165
It support but without ```/``` (I think)

[2015-05-27 20:05] kbdaitch opened #175 "Materialize select needs a jquery call"
Like so: `$('select').material_select();`

`gildaspk:autoform-materialize` package is doing that, but I don't think its templates are in use in Orion.

Any idea - what would need to be done to make select work with `orion:materialize`?

[2015-05-28 13:28] nicolaslopezj commented on #175
Actuallly ```orion:materialize``` uses ```gildaspk:autoform-materialize```

You can't see the select?

[2015-05-28 14:10] kbdaitch commented on #175
@nicolaslopezj yes, I cannot see with the current versions, unless I call that function in admin developer tools console.

[2015-05-28 14:17] nicolaslopezj commented on #175
Can I see logs? photo?

[2015-05-28 14:43] kbdaitch commented on #175
There are not much logs at all. Is there a debug mode. Anyhow, the app is pretty simple, I am just trying to learn orionjs. I shared the code with you on bitbucket, just clone and run with it. Its the `site.theme` dictionary key.

For:
[code]

I get this:
![materialize_select](https://cloud.githubusercontent.com/assets/542168/7862808/4fa155fc-0526-11e5-965e-b81d52fca3bf.PNG)

[2015-05-28 14:59] mraak opened #176 "Accounts improvements preview"
You can check it out here before I make final edits for pull request.

https://github.com/mraak/orion

Only works with Bootstrap for now, please make suggestions.

[2015-05-28 15:53] nicolaslopezj commented on #175
Try with
[code]

[2015-05-28 15:53] nicolaslopezj commented on #176
Remember to make the pr to the 1.1 branch.

You can do the pr now and we can review and edit it, it doesn't has to be 100% ready.